{% extends "layout-v2.html" %}

{% block pageScripts %}
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript" src="/js/auto.js"></script>
<style type="text/css" media="screen">
  .nhsuk-header__navigation-item:nth-child(4) {
    border-bottom: 4px solid #d8dde0;
  }
</style>
{% endblock %}
{% block pageTitle %}
NHS Cervical screening management system
{% endblock %}

{% block header %}
{% include '../components/header.html' %}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">

    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link nhsuk-u-margin-bottom-4" href="CSSE-create-step3">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to Step 3: Define test criteria</a>
    </div>
    
    <span class="nhsuk-hint nhsuk-u-margin-bottom-1">Step 4 of 12</span>
    <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-7">
        Define test parameters
    </h1>

    <form action="CSSE-create-step5" method="post">
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="result-type">
            <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
              <p class="nhsuk-body nhsuk-u-margin-bottom-0">
                What result type would you like to include?
              </p>
            </legend>

            <div class="nhsuk-hint nhsuk-u-margin-bottom-4" id="checkbox-hint">
              Select all options that are relevant to you
            </div>

            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input type="checkbox" class="nhsuk-checkboxes__input" name="result-type" id="self-sample" value="Self-sample results">
                <label for="self-sample" class="nhsuk-label nhsuk-checkboxes__label">
                  Self-sample results
                </label>
              </div>


              <div class="nhsuk-checkboxes__item">
                <input type="checkbox" class="nhsuk-checkboxes__input" name="result-type" id="not-self-sample" value="Not self-sample results">
                <label for="not-self-sample" class="nhsuk-label nhsuk-checkboxes__label">
                  Not self-sample results
                </label>
              </div>

            </div>
        
              
          </fieldset>

          <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="result-type">
            <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
              <p class="nhsuk-body nhsuk-u-margin-bottom-0">
                What HPV primary status would you like to see?
              </p>
            </legend>

            <div class="nhsuk-hint nhsuk-u-margin-bottom-4" id="checkbox-hint">
              Select all options that are relevant to you
            </div>

            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input type="checkbox" class="nhsuk-checkboxes__input" name="hpv-status" id="hpv-primary" value="HPV primary">
                <label for="hpv-primary" class="nhsuk-label nhsuk-checkboxes__label">
                  HPV primary
                </label>
              </div>


              <div class="nhsuk-checkboxes__item">
                <input type="checkbox" class="nhsuk-checkboxes__input" name="hpv-status" id="not-hpv-primary" value="Not HPV primary">
                <label for="not-hpv-primary" class="nhsuk-label nhsuk-checkboxes__label">
                  Not HPV primary
                </label>
              </div>

            </div>
        
              
          </fieldset>

      </div>
      <button class="nhsuk-button nhsuk-button--ers" type="submit">
        Save and continue
      </button>
    </form>
   

    
  </div>
</div>
{% endblock %}
