{% extends "layout-v2.html" %}

{% block pageScripts %}
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript" src="/js/auto.js"></script>
<script type="text/javascript" src="/js/action-menu.js"></script>
<script type="text/javascript" src="/js/sort.js"></script>
<script type="text/javascript" src="/js/add-result-code-list.js"></script>
<script type="text/javascript" src="/js/suggestionDropdown.js"></script>
<script>
  const resultCodeData = [
    {code:'0',name:'?Glandular noeplasia (non-cervical)'},
    {code:'1',name:'Inadequate cytology'},
    {code:'2',name:'Negative/normal cytology'},
    {code:'3',name:'Low-grade dyskaryosis'},
    {code:'4',name:'High-grade dyskaryosis - severe (HPV tested and not)'},
    {code:'5',name:'High-grade dyskaryosis - ?invasive squamous carcinoma (HPV tested and not)'},
    {code:'6',name:'?Glandular neoplasia of endocervical type (HPV tested and not)'},
    {code:'7',name:'High-grade dyskaryosis - moderate (HPV tested and not)'},
    {code:'8',name:'Borderline squamous'},
    {code:'9',name:'Borderline endocervical'},
    {code:'B',name:'Borderline change in squamous cells (HPV tested)'},
    {code:'E',name:'Borderline change in endocervical cells (HPV tested)'},
    {code:'G',name:'?Glandular neoplasia - non cervical (HPV tested)'},
    {code:'M',name:'Low grade dyskaryosis (HPV tested)'},
    {code:'N',name:'Negative (HPV tested)'},
    {code:'X',name:'No cytology result'},
  ];
  const resultHpvData = [
    {
      code: '0',
      name: 'HPV Negative',
    },
    {
      code: '9',
      name: 'HPV Positive',
    },
    {
      code: 'U',
      name: 'HPV not available',
    },
    {
      code: 'Q',
      name: 'No HPV test due to recent HPV positive result'
    }
  ];
  const resultActionData = [
    { code: 'A', name: 'Routine recall' },
    { code: 'H', name: 'No change to recall' },
    { code: 'R', name: 'Early recall' },
    { code: 'S', name: 'Refer to colposcopy' },
  ];
  createSuggestionDropdown(resultCodeData, 'result-code-result');
  createSuggestionDropdown(resultHpvData, 'result-code-hpv');
  createSuggestionDropdown(resultActionData, 'result-code-action');
</script>

<!--Add JS script for list builder above-->
<style type="text/css" media="screen">
  .nhsuk-header__navigation-item:nth-child(4) {
    border-bottom: 4px solid #d8dde0;
  }
</style>
{% endblock %}
{% block pageTitle %}
NHS Cervical screening management system
{% endblock %}

{% block header %}
{% include '../components/header.html' %}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">

    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link nhsuk-u-margin-bottom-4" href="CSSE-create-step6">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to Step 6: Define test criteria</a>
    </div>
    
    <span class="nhsuk-hint nhsuk-u-margin-bottom-1">Step 7 of 10</span>
    <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-7">
        Define test result details
    </h1>

    <form action="CSSE-create-step8" method="post" autocomplete="off">
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="date-type">
          <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
            <p class="nhsuk-body nhsuk-u-margin-bottom-2">
              Which date do you want to refine by?
            </p>
            <div class="nhsuk-hint">Select 1 option</div>
          </legend>

          <div class="nhsuk-radios nhsuk-radios--conditional">

            <div class="nhsuk-radios__item">
              <input type="radio" class="nhsuk-radios__input" name="date-type" id="none" value="None" checked aria-controls="" aria-expnded="false">
              <label for="none" class="nhsuk-label nhsuk-radios__label">
                None
              </label>
            </div>
            
            <div class="nhsuk-radios__item">
              <input type="radio" class="nhsuk-radios__input" name="date-type" id="test-taken-date" value="Test taken date" {{ checked("date-type", "Test taken date") }} aria-controls="expand-test-taken-date" aria-expnded="false">
              <label for="test-taken-date" class="nhsuk-label nhsuk-radios__label">
                Test taken date
              </label>
            </div>

            <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="expand-test-taken-date">
              <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6">
                  <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                    <p class="nhsuk-body">
                      What date range do you want to include?
                    </p>
                  </legend>

                  <div class="nhsuk-grid-row">

                    <div class="nhsuk-grid-column-one-half">
                      <div class="nhs-date-input" id="test-taken-date-from">

                        <label for="test-taken-date-input" class="nhsuk-label nhsuk-label__strong">
                          Enter date from
                        </label>
                
                         <div class="nhsuk-hint" for="test-taken-date-hint">
                          For example, 15 3 1984
                         </div>
                
                         <div class="nhsuk-date-input__item">
                           <div class="nhsuk-form-group">
                            <label for="from-test-taken-date-day" class="nhsuk-label">
                              Day
                            </label>
                            <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="from-test-taken-date-day" name="from-test-taken-date-day" type="text" value="{{ data['from-test-taken-date-day'] }}" pattern="[0-9]*" inputmode="numeric">
                           </div>
                         </div>
                
                         <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                           <label for="from-test-taken-date-month" class="nhsuk-label">
                            Month
                           </label>
                           <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="from-test-taken-date-month" name="from-test-taken-date-month" type="text" value="{{ data['from-test-taken-date-month'] }}" pattern="[0-9]*" inputmode="numeric">
                          </div>
                        </div>
                
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                           <label for="from-test-taken-date-year" class="nhsuk-label">
                            Year
                           </label>
                           <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 nhsuk-u-margin-bottom-4" id="from-test-taken-date-year" name="from-test-taken-date-year" type="text" value="{{ data['from-test-taken-date-year'] }}" pattern="[0-9]*" inputmode="numeric">
                          </div>
                        </div>
                
                       </div>
                    </div>

                    <div class="nhsuk-grid-column-one-half">

                      <div class="nhs-date-input" id="test-taken-date-to">

                        <label for="test-taken-date" class="nhsuk-label nhsuk-label__strong">
                          Enter date to
                        </label>
                
                         <div class="nhsuk-hint" for="test-taken-date-hint">
                          Leave blank to search for 1 day
                         </div>
                
                         <div class="nhsuk-date-input__item">
                           <div class="nhsuk-form-group">
                            <label for="to-test-taken-date-day" class="nhsuk-label">
                              Day
                            </label>
                            <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="to-test-taken-date-day" name="to-test-taken-date-day" type="text" value="{{ data['to-test-taken-date-day'] }}" pattern="[0-9]*" inputmode="numeric">
                           </div>
                         </div>
                
                         <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                           <label for="to-test-taken-date-month" class="nhsuk-label">
                            Month
                           </label>
                           <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="to-test-taken-date-month" name="to-test-taken-date-month" type="text" value="{{ data['to-test-taken-date-month'] }}" pattern="[0-9]*" inputmode="numeric">
                          </div>
                        </div>
                
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                           <label for="to-test-taken-date-year" class="nhsuk-label">
                            Year
                           </label>
                           <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 nhsuk-u-margin-bottom-4" id="to-test-taken-date-year" name="to-test-taken-date-year" type="text" value="{{ data['to-test-taken-date-year'] }}" pattern="[0-9]*" inputmode="numeric">
                          </div>
                        </div>
                
                       </div>
                    </div>


                  </div>
              

                </fieldset>
              </div>
            </div>

            <div class="nhsuk-radios__item">
              <input type="radio" class="nhsuk-radios__input" name="date-type" id="prev-noti-date" value="Previous notification date" {{ checked("date-type", "Previous notification date") }} aria-controls="expand-prev-noti-date" aria-expnded="false">
              <label for="prev-noti-date" class="nhsuk-label nhsuk-radios__label">
                Previous notification date
              </label>
            </div>

            <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="expand-prev-noti-date">
              <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6">
                  <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                    <p class="nhsuk-body">
                      What date range do you want to include?
                    </p>
                  </legend>

                  <div class="nhsuk-grid-row">

                    <div class="nhsuk-grid-column-one-half">
                      <div class="nhs-date-input" id="prev-noti-date-from">

                        <label for="prev-noti-date-input" class="nhsuk-label nhsuk-label__strong">
                          Enter date from
                        </label>
                
                         <div class="nhsuk-hint" for="prev-noti-date-hint">
                          For example, 15 3 1984
                         </div>
                
                         <div class="nhsuk-date-input__item">
                           <div class="nhsuk-form-group">
                            <label for="from-prev-noti-date-day" class="nhsuk-label">
                              Day
                            </label>
                            <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="from-prev-noti-date-day" name="from-prev-noti-date-day" type="text" value="{{ data['from-prev-noti-date-day'] }}" pattern="[0-9]*" inputmode="numeric">
                           </div>
                         </div>
                
                         <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                           <label for="from-prev-noti-date-month" class="nhsuk-label">
                            Month
                           </label>
                           <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="from-prev-noti-date-month" name="from-prev-noti-date-month" type="text" value="{{ data['from-prev-noti-date-month'] }}" pattern="[0-9]*" inputmode="numeric">
                          </div>
                        </div>
                
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                           <label for="from-prev-noti-date-year" class="nhsuk-label">
                            Year
                           </label>
                           <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 nhsuk-u-margin-bottom-4" id="from-prev-noti-date-year" name="from-prev-noti-date-year" type="text" value="{{ data['from-prev-noti-date-year'] }}" pattern="[0-9]*" inputmode="numeric">
                          </div>
                        </div>
                
                       </div>
                    </div>

                    <div class="nhsuk-grid-column-one-half">

                      <div class="nhs-date-input" id="prev-noti-date-to">

                        <label for="prev-noti-date" class="nhsuk-label nhsuk-label__strong">
                          Enter date to
                        </label>
                
                         <div class="nhsuk-hint" for="prev-noti-date-hint">
                          Leave blank to search for 1 day
                         </div>
                
                         <div class="nhsuk-date-input__item">
                           <div class="nhsuk-form-group">
                            <label for="to-prev-noti-date-day" class="nhsuk-label">
                              Day
                            </label>
                            <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="to-prev-noti-date-day" name="to-prev-noti-date-day" type="text" value="{{ data['to-prev-noti-date-day'] }}" pattern="[0-9]*" inputmode="numeric">
                           </div>
                         </div>
                
                         <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                           <label for="to-prev-noti-date-month" class="nhsuk-label">
                            Month
                           </label>
                           <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="to-prev-noti-date-month" name="to-prev-noti-date-month" type="text" value="{{ data['to-prev-noti-date-month'] }}" pattern="[0-9]*" inputmode="numeric">
                          </div>
                        </div>
                
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                           <label for="to-prev-noti-date-year" class="nhsuk-label">
                            Year
                           </label>
                           <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 nhsuk-u-margin-bottom-4" id="to-prev-noti-date-year" name="to-prev-noti-date-year" type="text" value="{{ data['to-prev-noti-date-year'] }}" pattern="[0-9]*" inputmode="numeric">
                          </div>
                        </div>
                
                       </div>
                    </div>


                  </div>
              

                </fieldset>
              </div>
            </div>

            <div class="nhsuk-radios__item">
              <input type="radio" class="nhsuk-radios__input" name="date-type" id="prev-invi-date" value="Previous invitation date" {{ checked("date-type", "Previous invitation date") }} aria-controls="expand-prev-invi-date" aria-expnded="false">
              <label for="prev-invi-date" class="nhsuk-label nhsuk-radios__label">
                Previous invitation date
              </label>
            </div>

            <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="expand-prev-invi-date">
              <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6">
                  <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                    <p class="nhsuk-body">
                      What date range do you want to include?
                    </p>
                  </legend>

                  <div class="nhsuk-grid-row">

                    <div class="nhsuk-grid-column-one-half">
                      <div class="nhs-date-input" id="prev-invi-date-from">

                        <label for="prev-invi-date-input" class="nhsuk-label nhsuk-label__strong">
                          Enter date from
                        </label>
                
                         <div class="nhsuk-hint" for="prev-invi-date-hint">
                          For example, 15 3 1984
                         </div>
                
                         <div class="nhsuk-date-input__item">
                           <div class="nhsuk-form-group">
                            <label for="from-prev-invi-date-day" class="nhsuk-label">
                              Day
                            </label>
                            <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="from-prev-invi-date-day" name="from-prev-invi-date-day" type="text" value="{{ data['from-prev-invi-date-day'] }}" pattern="[0-9]*" inputmode="numeric">
                           </div>
                         </div>
                
                         <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                           <label for="from-prev-invi-date-month" class="nhsuk-label">
                            Month
                           </label>
                           <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="from-prev-invi-date-month" name="from-prev-invi-date-month" type="text" value="{{ data['from-prev-invi-date-month'] }}" pattern="[0-9]*" inputmode="numeric">
                          </div>
                        </div>
                
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                           <label for="from-prev-invi-date-year" class="nhsuk-label">
                            Year
                           </label>
                           <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 nhsuk-u-margin-bottom-4" id="from-prev-invi-date-year" name="from-prev-invi-date-year" type="text" value="{{ data['from-prev-invi-date-year'] }}" pattern="[0-9]*" inputmode="numeric">
                          </div>
                        </div>
                
                       </div>
                    </div>

                    <div class="nhsuk-grid-column-one-half">

                      <div class="nhs-date-input" id="prev-invi-date-to">

                        <label for="prev-invi-date" class="nhsuk-label nhsuk-label__strong">
                          Enter date to
                        </label>
                
                         <div class="nhsuk-hint" for="prev-invi-date-hint">
                          Leave blank to search for 1 day
                         </div>
                
                         <div class="nhsuk-date-input__item">
                           <div class="nhsuk-form-group">
                            <label for="to-prev-invi-date-day" class="nhsuk-label">
                              Day
                            </label>
                            <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="to-prev-invi-date-day" name="to-prev-invi-date-day" type="text" value="{{ data['to-prev-invi-date-day'] }}" pattern="[0-9]*" inputmode="numeric">
                           </div>
                         </div>
                
                         <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                           <label for="to-prev-invi-date-month" class="nhsuk-label">
                            Month
                           </label>
                           <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="to-prev-invi-date-month" name="to-prev-invi-date-month" type="text" value="{{ data['to-prev-invi-date-month'] }}" pattern="[0-9]*" inputmode="numeric">
                          </div>
                        </div>
                
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                           <label for="to-prev-invi-date-year" class="nhsuk-label">
                            Year
                           </label>
                           <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 nhsuk-u-margin-bottom-4" id="to-prev-invi-date-year" name="to-prev-invi-date-year" type="text" value="{{ data['to-prev-invi-date-year'] }}" pattern="[0-9]*" inputmode="numeric">
                          </div>
                        </div>
                
                       </div>
                    </div>


                  </div>
              

                </fieldset>
              </div>
            </div>

            <div class="nhsuk-radios__item">
              <input type="radio" class="nhsuk-radios__input" name="date-type" id="test-inp-date" value="Test input date" {{ checked("date-type", "Test input date") }} aria-controls="expand-test-inp-date" aria-expnded="false">
              <label for="test-inp-date" class="nhsuk-label nhsuk-radios__label">
                Test input date
              </label>
            </div>

            <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="expand-test-inp-date">
              <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6">
                  <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                    <p class="nhsuk-body">
                      What date range do you want to include?
                    </p>
                  </legend>

                  <div class="nhsuk-grid-row">

                    <div class="nhsuk-grid-column-one-half">
                      <div class="nhs-date-input" id="test-inp-date-from">

                        <label for="test-inp-date-input" class="nhsuk-label nhsuk-label__strong">
                          Enter date from
                        </label>
                
                         <div class="nhsuk-hint" for="test-inp-date-hint">
                          For example, 15 3 1984
                         </div>
                
                         <div class="nhsuk-date-input__item">
                           <div class="nhsuk-form-group">
                            <label for="from-test-inp-date-day" class="nhsuk-label">
                              Day
                            </label>
                            <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="from-test-inp-date-day" name="from-test-inp-date-day" type="text" value="{{ data['from-test-inp-date-day'] }}" pattern="[0-9]*" inputmode="numeric">
                           </div>
                         </div>
                
                         <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                           <label for="from-test-inp-date-month" class="nhsuk-label">
                            Month
                           </label>
                           <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="from-test-inp-date-month" name="from-test-inp-date-month" type="text" value="{{ data['from-test-inp-date-month'] }}" pattern="[0-9]*" inputmode="numeric">
                          </div>
                        </div>
                
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                           <label for="from-test-inp-date-year" class="nhsuk-label">
                            Year
                           </label>
                           <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 nhsuk-u-margin-bottom-4" id="from-test-inp-date-year" name="from-test-inp-date-year" type="text" value="{{ data['from-test-inp-date-year'] }}" pattern="[0-9]*" inputmode="numeric">
                          </div>
                        </div>
                
                       </div>
                    </div>

                    <div class="nhsuk-grid-column-one-half">

                      <div class="nhs-date-input" id="test-inp-date-to">

                        <label for="test-inp-date" class="nhsuk-label nhsuk-label__strong">
                          Enter date to
                        </label>
                
                         <div class="nhsuk-hint" for="test-inp-date-hint">
                          Leave blank to search for 1 day
                         </div>
                
                         <div class="nhsuk-date-input__item">
                           <div class="nhsuk-form-group">
                            <label for="to-test-inp-date-day" class="nhsuk-label">
                              Day
                            </label>
                            <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="to-test-inp-date-day" name="to-test-inp-date-day" type="text" value="{{ data['to-test-inp-date-day'] }}" pattern="[0-9]*" inputmode="numeric">
                           </div>
                         </div>
                
                         <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                           <label for="to-test-inp-date-month" class="nhsuk-label">
                            Month
                           </label>
                           <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="to-test-inp-date-month" name="to-test-inp-date-month" type="text" value="{{ data['to-test-inp-date-month'] }}" pattern="[0-9]*" inputmode="numeric">
                          </div>
                        </div>
                
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                           <label for="to-test-inp-date-year" class="nhsuk-label">
                            Year
                           </label>
                           <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 nhsuk-u-margin-bottom-4" id="to-test-inp-date-year" name="to-test-inp-date-year" type="text" value="{{ data['to-test-inp-date-year'] }}" pattern="[0-9]*" inputmode="numeric">
                          </div>
                        </div>
                
                       </div>
                    </div>


                  </div>
              

                </fieldset>
              </div>
            </div>


          </div>
            
        </fieldset>

        <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="slide-number">
          <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
            <p class="nhsuk-body nhsuk-u-margin-bottom-0">
              What slide number range do you want to include?
            </p>
            <div class="nhsuk-hint" for="slide-number">
              Leave number blank if you only know the year
             </div>
          </legend>

          <div class="nhsuk-grid-row">

            <div class="nhsuk-grid-column-one-half">
              <div class="nhs-date-input" id="slide-num-from">

                <label for="slide-num-input" class="nhsuk-label nhsuk-label__strong">
                  Enter slide number from
                </label>
        
                 <div class="nhsuk-hint" for="slide-num-hint">
                  For example, 18 010000
                 </div>
        
                 <div class="nhsuk-date-input__item">
                   <div class="nhsuk-form-group">
                    <label for="slide-num-year" class="nhsuk-label">
                      Year
                    </label>
                    <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="slide-num-year" name="slide-num-year" type="text" value="{{ data['slide-num-year'] }}" pattern="[0-9]*" inputmode="numeric">
                   </div>
                 </div>
        
                 <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                   <label for="slide-num-num" class="nhsuk-label">
                    Number
                   </label>
                   <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-10 nhsuk-u-margin-bottom-4" id="slide-num-num" name="slide-num-num" type="text" value="{{ data['slide-num-num'] }}" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
        
               </div>
            </div>

            <div class="nhsuk-grid-column-one-half">

              <div class="nhs-date-input" id="slide-num-to">

                <label for="slide-num-date" class="nhsuk-label nhsuk-label__strong">
                  Enter slide number to
                </label>
        
                 <div class="nhsuk-hint" for="slide-num-hint">
                  Leave blank to search for 1 slide
                 </div>
        
                 <div class="nhsuk-date-input__item">
                   <div class="nhsuk-form-group">
                    <label for="slide-num-year" class="nhsuk-label">
                      Year
                    </label>
                    <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="slide-num-year" name="slide-num-year-to" type="text" value="{{ data['slide-num-year-to'] }}" pattern="[0-9]*" inputmode="numeric">
                   </div>
                 </div>
        
                 <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                   <label for="slide-num-num-to" class="nhsuk-label">
                    Number
                   </label>
                   <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-10 nhsuk-u-margin-bottom-4" id="slide-num-num-to" name="slide-num-num-to" type="text" value="{{ data['slide-num-num-to'] }}" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
        
               </div>
            </div>


          </div>


      
            
        </fieldset>

        <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-4" aria-describedby="result-code">
          <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
            <p class="nhsuk-body nhsuk-u-margin-bottom-0">
              Add result code
            </p>
          </legend>

          <ul class="nhsuk-list" id="result-code-list">

          </ul>

          <label for="result-code" class="nhsuk-label">
            Enter result code to include
          </label>
          <div class="nhsuk-hint nhsuk-u-margin-bottom-4" id="nhsuk-hint">
            For example, X 0 A
          </div>

          <div class="autocomplete__multiple-input" id="result-code">

    
             <div class="nhsuk-date-input__item">
               <div class="nhsuk-form-group">
                <label for="result-code-result" class="nhsuk-label">
                  Result
                </label>
                <div id="result-code-result" class="nhsuk-input--width-2"></div>
               </div>
              </div>
    
             <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
               <label for="result-code-hpv" class="nhsuk-label">
                HPV
               </label>
               <div id="result-code-hpv" class="nhsuk-input--width-2"></div>
              </div>
            </div>
    
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
               <label for="result-code-action" class="nhsuk-label">
                Action
               </label>
               <div id="result-code-action" class="nhsuk-input--width-2"></div>
              </div>
            </div>
    
           </div>




            
        </fieldset>

        <a id="add-result-code" class="nhsuk-button nhsuk-button--reverse nhsuk-button--ers nhsuk-u-margin-bottom-9">
          Add result code
        </a>

      </div>
      <button class="nhsuk-button nhsuk-button--ers" type="submit">
        Continue
      </button>
    </form>

    <div class="nhsuk-body">
      <p>
        <a href="CSSE-home" class="nhsuk-link">Exit without saving</a>
      </p>
    </div>
   

    
  </div>
</div>
{% endblock %}
