{% extends "layout-v2.html" %}

{% block pageScripts %}
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript" src="/js/auto.js"></script>
<script type="text/javascript" src="/js/add-letter-code-list.js"></script>
<!--Add letter code script above-->
<style type="text/css" media="screen">
  .nhsuk-header__navigation-item:nth-child(4) {
    border-bottom: 4px solid #d8dde0;
  }
</style>
{% endblock %}
{% block pageTitle %}
NHS Cervical screening management system
{% endblock %}

{% block header %}
{% include '../components/header.html' %}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">

    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link nhsuk-u-margin-bottom-4" href="CSSE-create-step9">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to Step 9: File output</a>
    </div>
    
    <span class="nhsuk-hint nhsuk-u-margin-bottom-1">Step 10 of 10</span>

    <form action="CSSE-create-step11-download" method="post">
      <div class="nhsuk-form-group">

        <!--<fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="review-report">
          <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
            <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-7">
              Review report
            </h1>
          </legend>

          <p class="nhsuk-body">
            You can check the sections you have filled in and make changes
          </p>

          <ul class="nhsuk-list">
            <li><a href="CSSE-create-step1" class="nhsuk-link">Enquiry name</a></li>
            <li><a href="CSSE-create-step2" class="nhsuk-link">Define data type</a></li>
            <li><a href="CSSE-create-step3" class="nhsuk-link">Define test</a></li>
            <li><a href="CSSE-create-step4" class="nhsuk-link">Define test parameters</a></li>
            <li><a href="CSSE-create-step5" class="nhsuk-link">Define sender details</a></li>
            <li><a href="CSSE-create-step6" class="nhsuk-link">Define test result details</a></li>
            <li><a href="CSSE-create-step7" class="nhsuk-link">Define participant and episode status</a></li>
            <li><a href="CSSE-create-step8" class="nhsuk-link">Define location</a></li>
            <li><a href="CSSE-create-step9" class="nhsuk-link">Define patient details</a></li>
            <li><a href="CSSE-create-step10" class="nhsuk-link">Define communication details</a></li>
          </ul>
      

        </fieldset>-->

        <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="review-report">
          <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
            <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-7">
              View enquiry details
            </h1>
          </legend>

          <p class="nhsuk-body nhsuk-u-margin-bottom-7">
            You can use this page to check and edit any of the parameters before saving the enquiry and downloading the report
          </p>


          <dl class="nhsuk-summary-list" id="enquiry-name">


            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <h2 class="nhsuk-heading-m">
                  Step 1: Enter enquiry name
                </h2>
              </dt>
              <dd class="nhsuk-summary-list__value">
                
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="CSSE-create-step1">
                  Edit<span class="nhsuk-u-visually-hidden"> enquiry name</span>
                </a>
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Name
              </dt>
              <dd class="nhsuk-summary-list__value">
                {% if data['create-name'] %}{{ data['create-name'] }}{% else %}HPV data report{% endif %}
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          

          
              </dd>
          
            </div>
          
          
          </dl>

          <dl class="nhsuk-summary-list" id="define-location-details">


            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <h2 class="nhsuk-heading-m">
                  Step 2: Define location details
                </h2>
              </dt>
              <dd class="nhsuk-summary-list__value">
 
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="CSSE-create-step2">
                  Edit<span class="nhsuk-u-visually-hidden"> location details</span>
                </a>
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                CCG code
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  {% for item in data['ccg-code-list'] %}
                <li>{{ item }}</li>
              {% else %}
                <li>02P, 99E, 06H</li>
              {% endfor %}
                </ul>
                {{ data['ccg-code-data'] }}
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          

          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                GP practice code
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  {% for item in data['gp-practice-code-list'] %}
                <li>{{ item }}</li>
              {% else %}
                <li>A1000000, A110100</li>
              {% endfor %}
                </ul>
                {{ data['gp-code-data'] }}
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          

          
              </dd>
          
            </div>
          
          
          </dl>

          <dl class="nhsuk-summary-list" id="define-patient-details">


            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <h2 class="nhsuk-heading-m">
                  Step 3: Define patient details
                </h2>
              </dt>
              <dd class="nhsuk-summary-list__value">
 
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="CSSE-create-step3">
                  Edit<span class="nhsuk-u-visually-hidden"> patient details</span>
                </a>
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Registration status
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  {% for item in data['patient-reg'] %}
                    <li>{{ item }}</li>
                  {% else %}
                    <li>No criteria set</li>
                  {% endfor %}
                </ul>
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Cervix
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  {% for item in data['cervix-status'] %}
                    <li>{{ item }}</li>
                  {% else %}
                    <li>No criteria set</li>
                  {% endfor %}
                </ul>
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
              </dd>
          
            </div>

            

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Data type
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  <li>{{ data['patient-date-type'] }}</li>
                  <li>{{ data['registered-date-from-day'] }}{{ data['deducted-date-from-day'] }}-<span class="dateMonth">{{ data['registered-date-from-month'] }}{{ data['deducted-date-from-month'] }}</span>-{{ data['registered-date-from-year'] }}{{ data['deducted-date-from-year'] }} - {{ data['registered-date-to-day'] }}{{ data['deducted-date-to-day'] }}-<span class="dateMonth">{{ data['registered-date-to-month'] }}{{ data['deducted-date-to-month'] }}</span>-{{ data['registered-date-to-year'] }}{{ data['deducted-date-to-year'] }}</li>
                  </ul>
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Age range
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['age-from-input'] }} - {{ data['age-to-input'] }}
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Date type and range
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  <li>{{ data['recall-date-type'] }}</li>
                  <li>{{ data['next-test-date-from-day'] }}{{ data['last-noti-date-from-day'] }}{{ data['last-invi-date-from-day'] }}-<span class="dateMonth">{{ data['next-test-date-from-month'] }}{{ data['last-noti-date-from-month'] }}{{ data['last-invi-date-from-month'] }}</span>-{{ data['next-test-date-from-year'] }}{{ data['last-noti-date-from-year'] }}{{ data['last-invi-date-from-year'] }} - {{ data['next-test-date-to-day'] }}{{ data['last-noti-date-to-day'] }}{{ data['last-invi-date-to-day'] }}-<span class="dateMonth">{{ data['next-test-date-to-month'] }}{{ data['last-noti-date-to-month'] }}{{ data['last-invi-date-to-month'] }}</span>-{{ data['next-test-date-to-year'] }}{{ data['last-noti-date-to-year'] }}{{ data['last-invi-date-to-year'] }}</li>
                  </ul>
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
              </dd>
          
            </div>

          
          
          </dl>

          <dl class="nhsuk-summary-list" id="define-recall-details">


            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <h2 class="nhsuk-heading-m">
                  Step 4: Define recall details
                </h2>
              </dt>
              <dd class="nhsuk-summary-list__value">

              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="CSSE-create-step4">
                  Edit<span class="nhsuk-u-visually-hidden"> recall details</span>
                </a>
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Recall type
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  {% for item in data['current-participant-status'] %}
                    <li>{{ item }}</li>
                  {% else %}
                    <li>No criteria set</li>
                  {% endfor %}
                </ul>

              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Recall status
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  {% for item in data['current-episode-status'] %}
                    <li>{{ item }}</li>
                  {% else %}
                    <li>No criteria set</li>
                  {% endfor %}
                </ul>

              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
              </dd>
          
            </div>
          
          
          </dl>

          <dl class="nhsuk-summary-list" id="define-communication-details">


            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <h2 class="nhsuk-heading-m">
                  Step 5: Define communication details
                </h2>
              </dt>
              <dd class="nhsuk-summary-list__value">

              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="CSSE-create-step5">
                  Edit<span class="nhsuk-u-visually-hidden"> communication details</span>
                </a>
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Notification type
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  <li>{{ data['comms-notification-type'] }}:</li>
                  {% for item in data['comms-recall-type'] %}
                    <li>{{ item }}</li>
                  {% else %}
                    <li>No criteria set</li>
                  {% endfor %}
                </ul>
              </dd>
          
              <dd class="nhsuk-summary-list__actions">

              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                PNL/Invitation/Results notification types
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  <li>{{ data['comms-notification-type'] }}:</li>
                  {% for item in data['comms-recall-type'] %}
                    <li>{{ item }}</li>
                  {% else %}
                    <li>No criteria set</li>
                  {% endfor %}
                </ul>
              </dd>
          
              <dd class="nhsuk-summary-list__actions">

              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Notification date range
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['comms-noti-date-from-day'] }}-<span class="dateMonth">{{ data['comms-noti-date-from-month'] }}</span>-{{ data['comms-noti-date-from-year'] }} - {{ data['comms-noti-date-to-day'] }}-<span class="dateMonth">{{ data['comms-noti-date-to-month'] }}</span>-{{ data['comms-noti-date-to-year'] }}
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
 
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Letter code
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  {% for item in data['letter-code-list'] %}
                <li>{{ item }}</li>
              {% else %}
                <li>1QR, 0QS</li>
              {% endfor %}
                </ul>
                {{ data['letter-code-data'] }}
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
              </dd>
          
            </div>

          
          
          </dl>


          <dl class="nhsuk-summary-list" id="define-test">


            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <h2 class="nhsuk-heading-m">
                  Step 6: Define test type
                </h2>
              </dt>
              <dd class="nhsuk-summary-list__value">
 
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="CSSE-create-step6">
                  Edit<span class="nhsuk-u-visually-hidden"> test type</span>
                </a>
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Test criteria
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  {% for item in data['test-criteria'] %}
                <li>{{ item }}</li>
              {% else %}
                <li>No criteria set</li>
              {% endfor %}
                <li>{{ data['test-to-include'] }}</li>
                </ul>
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Result type
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  {% for item in data['result-type'] %}
                    <li>{{ item }}</li>
                  {% else %}
                    <li>No criteria set</li>
                  {% endfor %}
                </ul>

              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                HPV primary screening status
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  {% for item in data['hpv-status'] %}
                    <li>{{ item }}</li>
                  {% else %}
                    <li>No criteria set</li>
                  {% endfor %}
                </ul>

              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
              </dd>
          
            </div>

          
          
          </dl>

          <dl class="nhsuk-summary-list" id="define-test-result-details">


            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <h2 class="nhsuk-heading-m">
                  Step 7: Define test result details
                </h2>
              </dt>
              <dd class="nhsuk-summary-list__value">
 
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="CSSE-create-step7">
                  Edit<span class="nhsuk-u-visually-hidden"> result details</span>
                </a>
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Date type
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                <li>{{ data['date-type']}}</li>
                <li>{{ data['from-test-taken-date-day'] }}{{ data['from-prev-noti-date-day'] }}{{ data['from-prev-invi-date-day'] }}{{ data['from-test-inp-date-day'] }}-<span class="dateMonth">{{ data['from-test-taken-date-month'] }}{{ data['from-prev-noti-date-month'] }}{{ data['from-prev-invi-date-month'] }}{{ data['from-test-inp-date-month'] }}</span>-{{ data['from-test-taken-date-year'] }}{{ data['from-prev-noti-date-year'] }}{{ data['from-prev-invi-date-year'] }}{{ data['from-test-inp-date-year'] }} - {{ data['to-test-taken-date-day'] }}{{ data['to-prev-noti-date-day'] }}{{ data['to-prev-invi-date-day'] }}{{ data['to-test-inp-date-day'] }}-<span class="dateMonth">{{ data['to-test-taken-date-month'] }}{{ data['to-prev-noti-date-month'] }}{{ data['to-prev-invi-date-month'] }}{{ data['to-test-inp-date-month'] }}</span>-{{ data['to-test-taken-date-year'] }}{{ data['to-prev-noti-date-year'] }}{{ data['to-prev-invi-date-year'] }}{{ data['to-test-inp-date-year'] }}</li>
                <li></li>
                </ul>
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Slide number range
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  <li>{{ data['slide-num-year'] }} {{ data['slide-num-num'] }} - {{ data['slide-num-year-to'] }} {{ data['slide-num-num-to'] }}</li>
                  <li></li>
                  </ul>
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Result code
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  {% for item in data['result-code-list'] %}
                <li>{{ item }}</li>
              {% else %}
                <li>X0A, X</li>
              {% endfor %}
                </ul>
                {{ data['result-code-data'] }}
              </dd>
          
              <dd class="nhsuk-summary-list__actions">

              </dd>
          
            </div>
          
          
          </dl>


          <dl class="nhsuk-summary-list" id="define-sender-details">


            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <h2 class="nhsuk-heading-m">
                  Step 8: Define lab and sender details
                </h2>
              </dt>
              <dd class="nhsuk-summary-list__value">

              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="CSSE-create-step8">
                  Edit<span class="nhsuk-u-visually-hidden"> lab and sender details</span>
                </a>
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                National code
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  {% for item in data['national-code'] %}
                <li>{{ item }}</li>
              {% else %}
                <li>Berkshire (61270)</li>
                <li>Derby (60370)</li>
              {% endfor %}
                </ul>
                {{ data['national-code-data'] }}
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Source code
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  {% for item in data['source-code'] %}
                <li>{{ item }}</li>
              {% else %}
                <li>Hospitals and clinics (H)</li>
                <li>Hospitals and clinics with unknown sender code (X)</li>
                <li>GP with unknown sender code (N)</li>
              {% endfor %}
                </ul>
                {{ data['source-code-data'] }}
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Source type
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  {% for item in data['source-type-list'] %}
                <li>{{ item }}</li>
              {% else %}
                <li>GP practice or primary care (1)</li>
                <li>NHS hospital (4)</li>
                <li>NHS colposcopy (7)</li>
              {% endfor %}
                </ul>
                {{ data['source-type-data'] }}
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Sender code
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  {% for item in data['sender-code-list'] %}
                <li>{{ item }}</li>
              {% else %}
                <li>A86020, A8640</li>
              {% endfor %}
                </ul>
                {{ data['sender-code-data'] }}
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
        
          
              </dd>
          
            </div>




          
          
          </dl>

          <dl class="nhsuk-summary-list" id="file-output">


            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <h2 class="nhsuk-heading-m">
                  Step 9: File output
                </h2>
              </dt>
              <dd class="nhsuk-summary-list__value">

              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="CSSE-create-step9">
                  Edit<span class="nhsuk-u-visually-hidden"> file output</span>
                </a>
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Patient data
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  <li>All fields</li>

                </ul>

              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Practice data
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  <li>CCG code</li>
                  <li>GP practice code</li>

                </ul>
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Recall data
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  <li>Notification date</li>
                  <li>Non responder status</li>
                  <li>Reason for ceasing</li>
                  <li>Reason for deferring</li>

                </ul>
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Test data
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  <li>Prior invitation date</li>
                  <li>Anticipated delivery date</li>

                </ul>
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
        
          
              </dd>
          
            </div>




          
          
          </dl>
      

        </fieldset>


      </div>
      <span>

        <button class="nhsuk-button nhsuk-button--ers" type="submit">
          Submit and continue
        </button>
      </span>
    </form>

    <div class="nhsuk-body">
      <p>
        <a href="CSSE-home" class="nhsuk-link">Exit without saving</a>
      </p>
    </div>
    
  </div>
</div>


<script>

// Select the relevant variables by their class name
  var dateMonthElements = document.querySelectorAll('.dateMonth');

// A loop to check every variable with the class name
  for (var i=0; i<dateMonthElements.length; i++) {
    var dateMonthElement = dateMonthElements[i];
    
    // A series of if statements to change the date from number to words
      if (dateMonthElement.innerText.includes('01')) {
     dateMonthElement.innerText = "Jan";
   }
   else if (dateMonthElement.innerText.includes('02')) {
     dateMonthElement.innerText = "Feb";
   }
   else if (dateMonthElement.innerText.includes('03')) {
     dateMonthElement.innerText = "Mar";
   }
   else if (dateMonthElement.innerText.includes('04')) {
     dateMonthElement.innerText = "Apr";
   }
   else if (dateMonthElement.innerText.includes('05')) {
     dateMonthElement.innerText = "May";
   }
   else if (dateMonthElement.innerText.includes('06')) {
     dateMonthElement.innerText = "Jun";
   }
   else if (dateMonthElement.innerText.includes('07')) {
     dateMonthElement.innerText = "Jul";
   }
   else if (dateMonthElement.innerText.includes('08')) {
     dateMonthElement.innerText = "Aug";
   }
   else if (dateMonthElement.innerText.includes('09')) {
     dateMonthElement.innerText = "Sep";
   }
   else if (dateMonthElement.innerText.includes('10')) {
     dateMonthElement.innerText = "Oct";
   }
   else if (dateMonthElement.innerText.includes('11')) {
     dateMonthElement.innerText = "Nov";
   }
   else if (dateMonthElement.innerText.includes('12')) {
     dateMonthElement.innerText = "Dec";
   }
    
  }
</script>
{% endblock %}
