{% extends "layout-v2.html" %}

{% block pageScripts %}
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript" src="/js/auto.js"></script>
<style type="text/css" media="screen">
  .nhsuk-header__navigation-item:nth-child(4) {
    border-bottom: 4px solid #d8dde0;
  }
</style>
{% endblock %}
{% block pageTitle %}
NHS Cervical screening management system
{% endblock %}

{% block header %}
{% include '../components/header.html' %}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">

    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" href="../reports/reports">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to reports</a>
    </div>

   <h2 class="nhsuk-heading-l">System enquiries tool</h2>

   <p class="nhsuk-body nhsuk-u-margin-bottom-6">
     What would you like to do?
   </p>

   
   <fieldset class="nhsuk-fieldset" aria-describedby="build-new-enquiry" role="group">
     <legend class="nhsuk-fieldset__legend nhsuk-label">
       <h3 class="nhsuk-heading-m">
         Create a new enquiry
       </h3>
     </legend>



  <ul class="nhsuk-list">
      <li>Use this to create a new custom enquiry by setting parameters in 10 steps.</li>
      <li>   <p class="nhsuk-body-s">
         The data used to create new enquiries is updated daily and was last refreshed <span class="nhsuk-u-font-weight-bold">midnight 24 January 2022.</span>
       </p></li>
  </ul>

    <a href="CSSE-create-step1" class="nhsuk-button nhsuk-button--ers">
      Create new enquiry
    </a>


    <div class="nhsuk-body nhsuk-u-margin-bottom-7">
      <p>
        <a href="CSSE-home.html" name="draft-enquiry" class="nhsuk-link"></a>
      </p>
     </div>

   </fieldset>

   <fieldset class="nhsuk-fieldset" aria-describedby="build-new-enquiry" role="group">
    <legend class="nhsuk-fieldset__legend nhsuk-label">
      <h3 class="nhsuk-heading-m">
        View an existing enquiry
      </h3>
    </legend>

    <p class="nhsuk-body">
      Use this to view or search for existing enquiries. You can:
    </p>

    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>Download an existing enquiry report.</li>
      <li>Edit an existing enquiry and re-run it.</li>
      <li>Copy the details of an existing enquiry and save as a new version.</li>
  </ul>

  <a href="../CSSE-tool/csse-manage/csse-manage-enquiry" class="nhsuk-button nhsuk-button--secondary nhsuk-button--ers">
    View an existing enquiry
  </a>



  </fieldset>


   <!--<div class="nhsuk-form-group">
    <form action="../CSSE-tool/csse-manage/csse-manage-enquiry" method="post">
     <fieldset class="nhsuk-fieldset" aria-describedby="search-existing-query" role="group">
       <legend class="nhsuk-fieldset__legend nhsuk-label">
         <p class="nhsuk-body nhsuk-u-font-weight-bold">
           Search an existing enquiry
         </p>
       </legend>

       <label for="search-name" class="nhsuk-label">Enter enquiry name</label>
       <input type="text" class="nhsuk-input nhsuk-input--width-10 nhsuk-u-margin-bottom-4" id="search-name" name="search-name" type="text" value="{{ data['#'] }}" placeholder="Search by name">

       <label for="search-code" class="nhsuk-label">Code</label>
       <input type="text" class="nhsuk-input nhsuk-input--width-10 nhsuk-u-margin-bottom-4" id="search-code" name="search-code" type="text" value="{{ data['#'] }}">

       <div class="nhs-date-input" id="search-date">

        <label for="search-date" class="nhsuk-label">Enter date created</label>

         <div class="nhsuk-hint" for="search-date-hint">
          For example, 15 3 1984
         </div>

         <div class="nhsuk-date-input__item">
           <div class="nhsuk-form-group">
            <label for="search-date-day" class="nhsuk-label">Day</label>
            <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="search-date-day" name="search-date-day" type="text" value="{{ data['#'] }}" pattern="[0-9]*" inputmode="numeric">
           </div>
         </div>

         <div class="nhsuk-date-input__item">
          <div class="nhsuk-form-group">
           <label for="search-date-month" class="nhsuk-label">Month</label>
           <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="search-date-month" name="search-date-month" type="text" value="{{ data['#'] }}" pattern="[0-9]*" inputmode="numeric">
          </div>
        </div>

        <div class="nhsuk-date-input__item">
          <div class="nhsuk-form-group">
           <label for="search-date-year" class="nhsuk-label">Year</label>
           <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 nhsuk-u-margin-bottom-4" id="search-date-year" name="search-date-year" type="text" value="{{ data['#'] }}" pattern="[0-9]*" inputmode="numeric">
          </div>
        </div>

       </div>
     
     </fieldset>

     <button class="nhsuk-button nhsuk-button--secondary nhsuk-button--ers" type="submit">
      Search
    </button>

    </form>

    
  </div>-->

  <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

   <p class="nhsuk-body nhsuk-body-s">
       If there are reports you are unable to create using the tool, please <a href="" class="nhsuk-link">raise a service request </a> and we will help look into it.
   </p>

</div>
{% endblock %}
