{% extends "layout-v2.html" %}

{% block pageScripts %}
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript" src="/js/auto.js"></script>
<style type="text/css" media="screen">
  .nhsuk-header__navigation-item:nth-child(4) {
    border-bottom: 4px solid #d8dde0;
  }
</style>
{% endblock %}
{% block pageTitle %}
NHS Cervical screening management system
{% endblock %}

{% block header %}
{% include '../components/header.html' %}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">

    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link nhsuk-u-margin-bottom-4" href="CSSE-create-step2">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to Step 2: Define location details</a>
    </div>
    
    <span class="nhsuk-hint nhsuk-u-margin-bottom-1">Step 3 of 10</span>
    <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-7">
        Define patient details
    </h1>

    <form action="CSSE-create-step4" method="post">
      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="registration-status">
            <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
              <p class="nhsuk-body nhsuk-u-margin-bottom-0">
                Which patient registration status do you want to include?
              </p>
            </legend>

            <div class="nhsuk-hint nhsuk-u-margin-bottom-4" id="checkbox-hint">
              Select all options that are relevant to you
            </div>

            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input type="checkbox" class="nhsuk-checkboxes__input" name="patient-reg" id="patient-reg" value="Active" checked {{ checked("patient-reg", "Active") }}>
                <label for="patient-reg" class="nhsuk-label nhsuk-checkboxes__label">
                  Active
                </label>
              </div>


              <div class="nhsuk-checkboxes__item">
                <input type="checkbox" class="nhsuk-checkboxes__input" name="patient-reg" id="patient-reg" value="Inactive" checked {{ checked("patient-reg", "Inactive") }}>
                <label for="patient-reg" class="nhsuk-label nhsuk-checkboxes__label">
                  Inactive
                </label>
              </div>

            </div>
        
              
          </fieldset>

          <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="cervix-status">
            <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
              <p class="nhsuk-body nhsuk-u-margin-bottom-0">
                Do you want to include patient with cervix?
              </p>
            </legend>

            <div class="nhsuk-hint nhsuk-u-margin-bottom-4" id="checkbox-hint">
              Select all options that are relevant to you
            </div>

            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input type="checkbox" class="nhsuk-checkboxes__input" name="cervix-status" id="has-cervix" value="Patient has cervix" checked {{ checked("cervix-status", "Patient has cervix") }}>
                <label for="has-cervix" class="nhsuk-label nhsuk-checkboxes__label">
                  Patient has cervix
                </label>
              </div>


              <div class="nhsuk-checkboxes__item">
                <input type="checkbox" class="nhsuk-checkboxes__input" name="cervix-status" id="no-cervix" value="Patient doesn't have cervix" checked {{ checked("cervix-status", "Patient doesn't have cervix") }}>
                <label for="no-cervix" class="nhsuk-label nhsuk-checkboxes__label">
                  Patient doesn't have cervix
                </label>
              </div>

            </div>
        
              
          </fieldset>

          <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="patient-date-type">
            <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
              <p class="nhsuk-body nhsuk-u-margin-bottom-0">
                What registration or inactive date type do you want to include?
              </p>
            </legend>
            <div class="nhsuk-hint nhsuk-u-margin-bottom-4" id="checkbox-hint">
              Select 1 option
            </div>
  
            <div class="nhsuk-radios nhsuk-radios--conditional">
  
              <!--<div class="nhsuk-radios__item">
                <input type="radio" class="nhsuk-radios__input" name="patient-date-type" id="birth-date" value="Date of birth" aria-controls="expand-birth-date" aria-expnded="false">
                <label for="birth-date" class="nhsuk-label nhsuk-radios__label">
                  Date of birth
                </label>
              </div>
  
              <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="expand-birth-date">
                <div class="nhsuk-form-group">
                  <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6">
                    <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                      <p class="nhsuk-body">
                        What date range would you like to include?
                      </p>
                    </legend>
  
                    <div class="nhsuk-grid-row">
  
                      <div class="nhsuk-grid-column-one-half">
                        <div class="nhs-date-input" id="birth-date-from">
  
                          <label for="birth-date-from" class="nhsuk-label nhsuk-label__strong">
                            Enter date from
                          </label>
                  
                           <div class="nhsuk-hint" for="birth-date-from">
                            For example, 15 3 1984
                           </div>
                  
                           <div class="nhsuk-date-input__item">
                             <div class="nhsuk-form-group">
                              <label for="birth-date-from-day" class="nhsuk-label">
                                Day
                              </label>
                              <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="birth-date-from-day" name="birth-date-from-day" type="text" value="{{ data['#'] }}" pattern="[0-9]*" inputmode="numeric">
                             </div>
                           </div>
                  
                           <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                             <label for="birth-date-from-month" class="nhsuk-label">
                              Month
                             </label>
                             <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="birth-date-from-month" name="birth-date-from-month" type="text" value="{{ data['#'] }}" pattern="[0-9]*" inputmode="numeric">
                            </div>
                          </div>
                  
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                             <label for="birth-date-from-year" class="nhsuk-label">
                              Year
                             </label>
                             <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 nhsuk-u-margin-bottom-4" id="birth-date-from-year" name="birth-date-from-year" type="text" value="{{ data['#'] }}" pattern="[0-9]*" inputmode="numeric">
                            </div>
                          </div>
                  
                         </div>
                      </div>
  
                      <div class="nhsuk-grid-column-one-half">
  
                        <div class="nhs-date-input" id="birth-date-to">
  
                          <label for="birth-date-to" class="nhsuk-label nhsuk-label__strong">
                            Enter date to
                          </label>
                  
                           <div class="nhsuk-hint" for="birth-date-to">
                            Leave blank to search for 1 day
                           </div>
                  
                           <div class="nhsuk-date-input__item">
                             <div class="nhsuk-form-group">
                              <label for="birth-date-to-day" class="nhsuk-label">
                                Day
                              </label>
                              <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="birth-date-to-day" name="birth-date-to-day" type="text" value="{{ data['#'] }}" pattern="[0-9]*" inputmode="numeric">
                             </div>
                           </div>
                  
                           <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                             <label for="birth-date-to-month" class="nhsuk-label">
                              Month
                             </label>
                             <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="birth-date-to-month" name="birth-date-to-month" type="text" value="{{ data['#'] }}" pattern="[0-9]*" inputmode="numeric">
                            </div>
                          </div>
                  
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                             <label for="birth-date-to-year" class="nhsuk-label">
                              Year
                             </label>
                             <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 nhsuk-u-margin-bottom-4" id="birth-date-to-year" name="birth-date-to-year" type="text" value="{{ data['#'] }}" pattern="[0-9]*" inputmode="numeric">
                            </div>
                          </div>
                  
                         </div>
                      </div>
  
  
                    </div>
                
  
                  </fieldset>
                </div>
              </div>-->
  
              <div class="nhsuk-radios__item">
                <input type="radio" class="nhsuk-radios__input" name="patient-date-type" id="none" value="None" checked aria-controls="" aria-expnded="false">
                <label for="none" class="nhsuk-label nhsuk-radios__label">
                  None
                </label>
              </div>
              
              <div class="nhsuk-radios__item">
                <input type="radio" class="nhsuk-radios__input" name="patient-date-type" id="registered-date" value="Registered date" {{ checked("patient-date-type", "Registered date") }} aria-controls="expand-registered-date" aria-expnded="false">
                <label for="registered-date" class="nhsuk-label nhsuk-radios__label">
                  Registered date
                </label>
              </div>
  
              <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="expand-registered-date">
                <div class="nhsuk-form-group">
                  <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6">
                    <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                      <p class="nhsuk-body">
                        What date range would you like to include?
                      </p>
                    </legend>
  
                    <div class="nhsuk-grid-row">
  
                      <div class="nhsuk-grid-column-one-half">
                        <div class="nhs-date-input" id="registered-date-from">
  
                          <label for="registered-date-from" class="nhsuk-label nhsuk-label__strong">
                            Enter date from
                          </label>
                  
                           <div class="nhsuk-hint" for="registered-date-from">
                            For example, 15 3 1984
                           </div>
                  
                           <div class="nhsuk-date-input__item">
                             <div class="nhsuk-form-group">
                              <label for="registered-date-from-day" class="nhsuk-label">
                                Day
                              </label>
                              <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="registered-date-from-day" name="registered-date-from-day" type="text" value="{{ data['registered-date-from-day'] }}" pattern="[0-9]*" inputmode="numeric">
                             </div>
                           </div>
                  
                           <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                             <label for="registered-date-from-month" class="nhsuk-label">
                              Month
                             </label>
                             <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="registered-date-from-month" name="registered-date-from-month" type="text" value="{{ data['registered-date-from-month'] }}" pattern="[0-9]*" inputmode="numeric">
                            </div>
                          </div>
                  
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                             <label for="registered-date-from-year" class="nhsuk-label">
                              Year
                             </label>
                             <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 nhsuk-u-margin-bottom-4" id="registered-date-from-year" name="registered-date-from-year" type="text" value="{{ data['registered-date-from-year'] }}" pattern="[0-9]*" inputmode="numeric">
                            </div>
                          </div>
                  
                         </div>
                      </div>
  
                      <div class="nhsuk-grid-column-one-half">
  
                        <div class="nhs-date-input" id="registered-date-to">
  
                          <label for="registered-date-to" class="nhsuk-label nhsuk-label__strong">
                            Enter date to
                          </label>
                  
                           <div class="nhsuk-hint" for="registered-date-to">
                            Leave blank to search for 1 day
                           </div>
                  
                           <div class="nhsuk-date-input__item">
                             <div class="nhsuk-form-group">
                              <label for="registered-date-to-day" class="nhsuk-label">
                                Day
                              </label>
                              <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="registered-date-to-day" name="registered-date-to-day" type="text" value="{{ data['registered-date-to-day'] }}" pattern="[0-9]*" inputmode="numeric">
                             </div>
                           </div>
                  
                           <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                             <label for="registered-date-to-month" class="nhsuk-label">
                              Month
                             </label>
                             <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="registered-date-to-month" name="registered-date-to-month" type="text" value="{{ data['registered-date-to-month'] }}" pattern="[0-9]*" inputmode="numeric">
                            </div>
                          </div>
                  
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                             <label for="registered-date-to-year" class="nhsuk-label">
                              Year
                             </label>
                             <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 nhsuk-u-margin-bottom-4" id="registered-date-to-year" name="registered-date-to-year" type="text" value="{{ data['registered-date-to-year'] }}" pattern="[0-9]*" inputmode="numeric">
                            </div>
                          </div>
                  
                         </div>
                      </div>
  
  
                    </div>
                
  
                  </fieldset>
                </div>
              </div>
  
              <div class="nhsuk-radios__item">
                <input type="radio" class="nhsuk-radios__input" name="patient-date-type" id="inactive-date" value="Inactive date" {{ checked("patient-date-type", "Inactive date") }} aria-controls="expand-inactive-date" aria-expnded="false">
                <label for="inactive-date" class="nhsuk-label nhsuk-radios__label">
                  Inactive date
                </label>
              </div>
  
              <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="expand-inactive-date">
                <div class="nhsuk-form-group">
                  <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6">
                    <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                      <p class="nhsuk-body">
                        What date range would you like to include?
                      </p>
                    </legend>
  
                    <div class="nhsuk-grid-row">
  
                      <div class="nhsuk-grid-column-one-half">
                        <div class="nhs-date-input" id="deducted-date-from">
  
                          <label for="deducted-date-from" class="nhsuk-label nhsuk-label__strong">
                            Enter date from
                          </label>
                  
                           <div class="nhsuk-hint" for="deducted-date-from">
                            For example, 15 3 1984
                           </div>
                  
                           <div class="nhsuk-date-input__item">
                             <div class="nhsuk-form-group">
                              <label for="deducted-date-from-day" class="nhsuk-label">
                                Day
                              </label>
                              <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="deducted-date-from-day" name="deducted-date-from-day" type="text" value="{{ data['deducted-date-from-day'] }}" pattern="[0-9]*" inputmode="numeric">
                             </div>
                           </div>
                  
                           <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                             <label for="deducted-date-from-month" class="nhsuk-label">
                              Month
                             </label>
                             <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="deducted-date-from-month" name="deducted-date-from-month" type="text" value="{{ data['deducted-date-from-month'] }}" pattern="[0-9]*" inputmode="numeric">
                            </div>
                          </div>
                  
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                             <label for="deducted-date-from-year" class="nhsuk-label">
                              Year
                             </label>
                             <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 nhsuk-u-margin-bottom-4" id="deducted-date-from-year" name="deducted-date-from-year" type="text" value="{{ data['deducted-date-from-year'] }}" pattern="[0-9]*" inputmode="numeric">
                            </div>
                          </div>
                  
                         </div>
                      </div>
  
                      <div class="nhsuk-grid-column-one-half">
  
                        <div class="nhs-date-input" id="deducted-date-to">
  
                          <label for="deducted-date-to" class="nhsuk-label nhsuk-label__strong">
                            Enter date to
                          </label>
                  
                           <div class="nhsuk-hint" for="deducted-date-to">
                            Leave blank to search for 1 day
                           </div>
                  
                           <div class="nhsuk-date-input__item">
                             <div class="nhsuk-form-group">
                              <label for="deducted-date-to-day" class="nhsuk-label">
                                Day
                              </label>
                              <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="deducted-date-to-day" name="deducted-date-to-day" type="text" value="{{ data['deducted-date-to-day'] }}" pattern="[0-9]*" inputmode="numeric">
                             </div>
                           </div>
                  
                           <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                             <label for="deducted-date-to-month" class="nhsuk-label">
                              Month
                             </label>
                             <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="deducted-date-to-month" name="deducted-date-to-month" type="text" value="{{ data['deducted-date-to-month'] }}" pattern="[0-9]*" inputmode="numeric">
                            </div>
                          </div>
                  
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                             <label for="deducted-date-to-year" class="nhsuk-label">
                              Year
                             </label>
                             <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 nhsuk-u-margin-bottom-4" id="deducted-date-to-year" name="deducted-date-to-year" type="text" value="{{ data['deducted-date-to-year'] }}" pattern="[0-9]*" inputmode="numeric">
                            </div>
                          </div>
                  
                         </div>
                      </div>
  
  
                    </div>
                
  
                  </fieldset>
                </div>
              </div>
  
  
            </div>
              
          </fieldset>

          <!--<fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="age-range">
            <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
              <p class="nhsuk-body nhsuk-u-margin-bottom-0">
                Do you want to search by an age range?
              </p>
            </legend>
  
            <div class="nhsuk-radios nhsuk-radios--conditional">
  
              <div class="nhsuk-radios__item">
                <input type="radio" class="nhsuk-radios__input" name="age-range" id="age-range-yes" value="Yes" aria-controls="expand-age-range-yes" aria-expnded="false">
                <label for="age-range-yes" class="nhsuk-label nhsuk-radios__label">
                  Yes
                </label>
              </div>
  
              <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="expand-age-range-yes">
                <div class="nhsuk-form-group">
                  <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6">
                    <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                      <p class="nhsuk-body">
                        
                      </p>
                    </legend>
  
                    <div class="nhsuk-grid-row">
  
                      <div class="nhsuk-grid-column-one-third">
                        <div class="nhs-date-input" id="age-from">
  
                          <label for="age-from" class="nhsuk-label nhsuk-label__strong">
                            Enter age from
                          </label>
                  
                           <div class="nhsuk-hint" for="age-from">
                            For example, 25
                           </div>
                  
                           <div class="nhsuk-date-input__item">
                             <div class="nhsuk-form-group">
                              <label for="age-from-input" class="nhsuk-label">
                                
                              </label>
                              <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="age-from-input" name="age-from-input" type="text" value="{{ data['#'] }}" pattern="[0-9]*" inputmode="numeric">
                             </div>
                           </div>
                  
                         </div>
                      </div>
  
                      <div class="nhsuk-grid-column-one-third">
  
                        <div class="nhs-date-input" id="age-to">
  
                          <label for="age-to" class="nhsuk-label nhsuk-label__strong">
                            Enter age to
                          </label>
                  
                           <div class="nhsuk-hint" for="age-to">
                            Leave blank to search for 1 age
                           </div>
                  
                           <div class="nhsuk-date-input__item">
                             <div class="nhsuk-form-group">
                              <label for="age-to-input" class="nhsuk-label">
                                
                              </label>
                              <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="age-to-input" name="age-to-input" type="text" value="{{ data['#'] }}" pattern="[0-9]*" inputmode="numeric">
                             </div>
                           </div>
                  
                         </div>
                      </div>
  
  
                    </div>
                
  
                  </fieldset>
                </div>
              </div>
  
              <div class="nhsuk-radios__item">
                <input type="radio" class="nhsuk-radios__input" name="age-range" id="age-range-no" value="No" aria-controls="expand-age-range-no" aria-expnded="false" checked>
                <label for="registered-date" class="nhsuk-label nhsuk-radios__label">
                  No
                </label>
              </div>
  
              <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="expand-age-range-no">
                <div class="nhsuk-form-group">

                </div>
              </div>
  
            </div>
              
          </fieldset>-->

          <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6">
            <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
              <p class="nhsuk-body nhsuk-u-margin-bottom-0">
                Do you want to search by current age of patient?
              </p>
              <div class="nhsuk-hint">Includes anyone in the NHS Cervical Screening Management System, even if they are outside of the screening age range</div>
            </legend>

            <div class="nhsuk-grid-row">

              <div class="nhsuk-grid-column-one-third">
                <div class="nhs-date-input" id="age-from">

                  <label for="age-from" class="nhsuk-label nhsuk-label__strong">
                    Enter age from
                  </label>
          
                   <div class="nhsuk-hint" for="age-from">
                    For example, 25
                   </div>
          
                   <div class="nhsuk-date-input__item">
                     <div class="nhsuk-form-group">
                      <label for="age-from-input" class="nhsuk-label">
                        
                      </label>
                      <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="age-from-input" name="age-from-input" type="text" value="{{ data['age-from-input'] }}" pattern="[0-9]*" inputmode="numeric">
                     </div>
                   </div>
          
                 </div>
              </div>

              <div class="nhsuk-grid-column-one-third">

                <div class="nhs-date-input" id="age-to">

                  <label for="age-to" class="nhsuk-label nhsuk-label__strong">
                    Enter age to
                  </label>
          
                   <div class="nhsuk-hint" for="age-to">
                    Leave blank to search for 1 age
                   </div>
          
                   <div class="nhsuk-date-input__item">
                     <div class="nhsuk-form-group">
                      <label for="age-to-input" class="nhsuk-label">
                        
                      </label>
                      <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="age-to-input" name="age-to-input" type="text" value="{{ data['age-to-input'] }}" pattern="[0-9]*" inputmode="numeric">
                     </div>
                   </div>
          
                 </div>
              </div>


            </div>
        

          </fieldset>

          <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="recall-date-type">
            <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
              <p class="nhsuk-body nhsuk-u-margin-bottom-0">
                Which date do you want to refine by?
              </p>
              <div class="nhsuk-hint">Select 1 option</div>
            </legend>
  
            <div class="nhsuk-radios nhsuk-radios--conditional">
  
              <div class="nhsuk-radios__item">
                <input type="radio" class="nhsuk-radios__input" name="recall-date-type" id="none" value="None" checked aria-controls="" aria-expnded="false">
                <label for="none" class="nhsuk-label nhsuk-radios__label">
                  None
                </label>
              </div>
              
              <div class="nhsuk-radios__item">
                <input type="radio" class="nhsuk-radios__input" name="recall-date-type" id="next-test-date" value="Next test due date" {{ checked("recall-date-type", "Next test due date") }} aria-controls="expand-next-test-date" aria-expnded="false">
                <label for="next-test-date" class="nhsuk-label nhsuk-radios__label">
                  Next test due date
                </label>
              </div>
  
              <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="expand-next-test-date">
                <div class="nhsuk-form-group">
                  <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6">
                    <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                      <p class="nhsuk-body">
                        What date range do you want to include?
                      </p>
                    </legend>
  
                    <div class="nhsuk-grid-row">
  
                      <div class="nhsuk-grid-column-one-half">
                        <div class="nhs-date-input" id="next-test-date-from">
  
                          <label for="next-test-date-from" class="nhsuk-label nhsuk-label__strong">
                            Enter date from
                          </label>
                  
                           <div class="nhsuk-hint" for="next-test-date-from">
                            For example, 15 3 1984
                           </div>
                  
                           <div class="nhsuk-date-input__item">
                             <div class="nhsuk-form-group">
                              <label for="next-test-date-from-day" class="nhsuk-label">
                                Day
                              </label>
                              <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="next-test-date-from-day" name="next-test-date-from-day" type="text" value="{{ data['next-test-date-from-day'] }}" pattern="[0-9]*" inputmode="numeric">
                             </div>
                           </div>
                  
                           <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                             <label for="next-test-date-from-month" class="nhsuk-label">
                              Month
                             </label>
                             <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="next-test-date-from-month" name="next-test-date-from-month" type="text" value="{{ data['next-test-date-from-month'] }}" pattern="[0-9]*" inputmode="numeric">
                            </div>
                          </div>
                  
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                             <label for="next-test-date-from-year" class="nhsuk-label">
                              Year
                             </label>
                             <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 nhsuk-u-margin-bottom-4" id="next-test-date-from-year" name="next-test-date-from-year" type="text" value="{{ data['next-test-date-from-year'] }}" pattern="[0-9]*" inputmode="numeric">
                            </div>
                          </div>
                  
                         </div>
                      </div>
  
                      <div class="nhsuk-grid-column-one-half">
  
                        <div class="nhs-date-input" id="next-test-date-to">
  
                          <label for="next-test-date-to" class="nhsuk-label nhsuk-label__strong">
                            Enter date to
                          </label>
                  
                           <div class="nhsuk-hint" for="next-test-date-to">
                            Leave blank to search for 1 day
                           </div>
                  
                           <div class="nhsuk-date-input__item">
                             <div class="nhsuk-form-group">
                              <label for="next-test-date-to-day" class="nhsuk-label">
                                Day
                              </label>
                              <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="next-test-date-to-day" name="next-test-date-to-day" type="text" value="{{ data['next-test-date-to-day'] }}" pattern="[0-9]*" inputmode="numeric">
                             </div>
                           </div>
                  
                           <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                             <label for="next-test-date-to-month" class="nhsuk-label">
                              Month
                             </label>
                             <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="next-test-date-to-month" name="next-test-date-to-month" type="text" value="{{ data['next-test-date-to-month'] }}" pattern="[0-9]*" inputmode="numeric">
                            </div>
                          </div>
                  
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                             <label for="next-test-date-to-year" class="nhsuk-label">
                              Year
                             </label>
                             <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 nhsuk-u-margin-bottom-4" id="next-test-date-to-year" name="next-test-date-to-year" type="text" value="{{ data['next-test-date-to-year'] }}" pattern="[0-9]*" inputmode="numeric">
                            </div>
                          </div>
                  
                         </div>
                      </div>
  
  
                    </div>
                
  
                  </fieldset>
                </div>
              </div>
  
              <div class="nhsuk-radios__item">
                <input type="radio" class="nhsuk-radios__input" name="recall-date-type" id="last-noti-date" value="Last notification sent date" {{ checked("recall-date-type", "Last notification sent date") }} aria-controls="expand-last-noti-date" aria-expnded="false">
                <label for="last-noti-date" class="nhsuk-label nhsuk-radios__label">
                  Last notification sent date
                </label>
              </div>
  
              <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="expand-last-noti-date">
                <div class="nhsuk-form-group">
                  <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6">
                    <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                      <p class="nhsuk-body">
                        What date range do you want to include?
                      </p>
                    </legend>
  
                    <div class="nhsuk-grid-row">
  
                      <div class="nhsuk-grid-column-one-half">
                        <div class="nhs-date-input" id="last-noti-date-from">
  
                          <label for="last-noti-date-from" class="nhsuk-label nhsuk-label__strong">
                            Enter date from
                          </label>
                  
                           <div class="nhsuk-hint" for="last-noti-date-from">
                            For example, 15 3 1984
                           </div>
                  
                           <div class="nhsuk-date-input__item">
                             <div class="nhsuk-form-group">
                              <label for="last-noti-date-from-day" class="nhsuk-label">
                                Day
                              </label>
                              <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="last-noti-date-from-day" name="last-noti-date-from-day" type="text" value="{{ data['last-noti-date-from-day'] }}" pattern="[0-9]*" inputmode="numeric">
                             </div>
                           </div>
                  
                           <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                             <label for="last-noti-date-from-month" class="nhsuk-label">
                              Month
                             </label>
                             <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="last-noti-date-from-month" name="last-noti-date-from-month" type="text" value="{{ data['last-noti-date-from-month'] }}" pattern="[0-9]*" inputmode="numeric">
                            </div>
                          </div>
                  
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                             <label for="last-noti-date-from-year" class="nhsuk-label">
                              Year
                             </label>
                             <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 nhsuk-u-margin-bottom-4" id="last-noti-date-from-year" name="last-noti-date-from-year" type="text" value="{{ data['last-noti-date-from-year'] }}" pattern="[0-9]*" inputmode="numeric">
                            </div>
                          </div>
                  
                         </div>
                      </div>
  
                      <div class="nhsuk-grid-column-one-half">
  
                        <div class="nhs-date-input" id="last-noti-date-to">
  
                          <label for="last-noti-date-to" class="nhsuk-label nhsuk-label__strong">
                            Enter date to
                          </label>
                  
                           <div class="nhsuk-hint" for="last-noti-date-to">
                            Leave blank to search for 1 day
                           </div>
                  
                           <div class="nhsuk-date-input__item">
                             <div class="nhsuk-form-group">
                              <label for="last-noti-date-to-day" class="nhsuk-label">
                                Day
                              </label>
                              <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="last-noti-date-to-day" name="last-noti-date-to-day" type="text" value="{{ data['last-noti-date-to-day'] }}" pattern="[0-9]*" inputmode="numeric">
                             </div>
                           </div>
                  
                           <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                             <label for="last-noti-date-to-month" class="nhsuk-label">
                              Month
                             </label>
                             <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="last-noti-date-to-month" name="last-noti-date-to-month" type="text" value="{{ data['last-noti-date-to-month'] }}" pattern="[0-9]*" inputmode="numeric">
                            </div>
                          </div>
                  
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                             <label for="last-noti-date-to-year" class="nhsuk-label">
                              Year
                             </label>
                             <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 nhsuk-u-margin-bottom-4" id="last-noti-date-to-year" name="last-noti-date-to-year" type="text" value="{{ data['last-noti-date-to-year'] }}" pattern="[0-9]*" inputmode="numeric">
                            </div>
                          </div>
                  
                         </div>
                      </div>
  
  
                    </div>
                
  
                  </fieldset>
                </div>
              </div>
  
              <div class="nhsuk-radios__item">
                <input type="radio" class="nhsuk-radios__input" name="recall-date-type" id="last-invi-date" value="Last invitation sent date" {{ checked("recall-date-type", "Last invitation sent date") }} aria-controls="expand-last-invi-date" aria-expnded="false">
                <label for="last-invi-date" class="nhsuk-label nhsuk-radios__label">
                  Last invitation sent date
                </label>
              </div>
  
              <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="expand-last-invi-date">
                <div class="nhsuk-form-group">
                  <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6">
                    <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                      <p class="nhsuk-body">
                        What date range do you want to include?
                      </p>
                    </legend>
  
                    <div class="nhsuk-grid-row">
  
                      <div class="nhsuk-grid-column-one-half">
                        <div class="nhs-date-input" id="last-invi-date-from">
  
                          <label for="last-invi-date-from" class="nhsuk-label nhsuk-label__strong">
                            Enter date from
                          </label>
                  
                           <div class="nhsuk-hint" for="last-invi-date-from">
                            For example, 15 3 1984
                           </div>
                  
                           <div class="nhsuk-date-input__item">
                             <div class="nhsuk-form-group">
                              <label for="last-invi-date-from-day" class="nhsuk-label">
                                Day
                              </label>
                              <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="last-invi-date-from-day" name="last-invi-date-from-day" type="text" value="{{ data['last-invi-date-from-day'] }}" pattern="[0-9]*" inputmode="numeric">
                             </div>
                           </div>
                  
                           <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                             <label for="last-invi-date-from-month" class="nhsuk-label">
                              Month
                             </label>
                             <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="last-invi-date-from-month" name="last-invi-date-from-month" type="text" value="{{ data['last-invi-date-from-month'] }}" pattern="[0-9]*" inputmode="numeric">
                            </div>
                          </div>
                  
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                             <label for="last-invi-date-from-year" class="nhsuk-label">
                              Year
                             </label>
                             <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 nhsuk-u-margin-bottom-4" id="last-invi-date-from-year" name="last-invi-date-from-year" type="text" value="{{ data['last-invi-date-from-year'] }}" pattern="[0-9]*" inputmode="numeric">
                            </div>
                          </div>
                  
                         </div>
                      </div>
  
                      <div class="nhsuk-grid-column-one-half">
  
                        <div class="nhs-date-input" id="last-invi-date-to">
  
                          <label for="last-invi-date-to" class="nhsuk-label nhsuk-label__strong">
                            Enter date to
                          </label>
                  
                           <div class="nhsuk-hint" for="last-invi-date-to">
                            Leave blank to search for 1 day
                           </div>
                  
                           <div class="nhsuk-date-input__item">
                             <div class="nhsuk-form-group">
                              <label for="last-invi-date-to-day" class="nhsuk-label">
                                Day
                              </label>
                              <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="last-invi-date-to-day" name="last-invi-date-to-day" type="text" value="{{ data['last-invi-date-to-day'] }}" pattern="[0-9]*" inputmode="numeric">
                             </div>
                           </div>
                  
                           <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                             <label for="last-invi-date-to-month" class="nhsuk-label">
                              Month
                             </label>
                             <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="last-invi-date-to-month" name="last-invi-date-to-month" type="text" value="{{ data['last-invi-date-to-month'] }}" pattern="[0-9]*" inputmode="numeric">
                            </div>
                          </div>
                  
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                             <label for="last-invi-date-to-year" class="nhsuk-label">
                              Year
                             </label>
                             <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 nhsuk-u-margin-bottom-4" id="last-invi-date-to-year" name="last-invi-date-to-year" type="text" value="{{ data['last-invi-date-to-year'] }}" pattern="[0-9]*" inputmode="numeric">
                            </div>
                          </div>
                  
                         </div>
                      </div>
  
  
                    </div>
                
  
                  </fieldset>
                </div>
              </div>
  
  
            </div>
              
          </fieldset>

      </div>
      <button class="nhsuk-button nhsuk-button--ers" type="submit">
        Continue
      </button>
    </form>

    <div class="nhsuk-body">
      <p>
        <a href="CSSE-home" class="nhsuk-link">Exit without saving</a>
      </p>
    </div>
   

    
  </div>
</div>
{% endblock %}
