{% extends "layout-v2.html" %}

{% block pageScripts %}
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript" src="/js/auto.js"></script>
<script type="text/javascript" src="/js/add-letter-code-list.js"></script>
<!--Add letter code script above-->
<style type="text/css" media="screen">
  .nhsuk-header__navigation-item:nth-child(4) {
    border-bottom: 4px solid #d8dde0;
  }
</style>
{% endblock %}
{% block pageTitle %}
NHS Cervical screening management system
{% endblock %}

{% block header %}
{% include '../components/header.html' %}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">

    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link nhsuk-u-margin-bottom-4" href="CSSE-create-step10">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to Step 10: Define patient details</a>
    </div>
    
    <span class="nhsuk-hint nhsuk-u-margin-bottom-1">Step 11 of 12</span>

    <form action="CSSE-create-step12" method="post">
      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="review-report">
          <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
            <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-7">
              Review report
            </h1>
          </legend>

          <p class="nhsuk-body nhsuk-u-margin-bottom-7">
            You can check the sections you have filled in and make changes
          </p>


          <dl class="nhsuk-summary-list" id="enquiry-name">

            <h2 class="nhsuk-heading-m">
              Enquiry name
            </h2>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Name
              </dt>
              <dd class="nhsuk-summary-list__value">
                Name the user provided
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>
          
          
          </dl>

          <dl class="nhsuk-summary-list" id="define-data-type">

            <h2 class="nhsuk-heading-m">
              Define data type
            </h2>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Include patient data
              </dt>
              <dd class="nhsuk-summary-list__value">
                Yes, include patient data
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> include patient data</span>
                </a>
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Include test data
              </dt>
              <dd class="nhsuk-summary-list__value">
                Yes, include test data
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> include test data</span>
                </a>
          
              </dd>
          
            </div>
          
          
          </dl>

          <dl class="nhsuk-summary-list" id="define-test">

            <h2 class="nhsuk-heading-m">
              Define test
            </h2>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Test criteria
              </dt>
              <dd class="nhsuk-summary-list__value">
                Has test - first test only <br>Does not have test
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>

          
          
          </dl>

          <dl class="nhsuk-summary-list" id="define-test-parameters">

            <h2 class="nhsuk-heading-m">
              Define test parameters
            </h2>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Result type
              </dt>
              <dd class="nhsuk-summary-list__value">
                Self-sample results<br>Not self-sample results
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                HPV primary status
              </dt>
              <dd class="nhsuk-summary-list__value">
                HPV primary<br>Not HPV primary
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>
          
          
          </dl>

          <dl class="nhsuk-summary-list" id="define-sender-details">

            <h2 class="nhsuk-heading-m">
              Define sender details
            </h2>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                National code
              </dt>
              <dd class="nhsuk-summary-list__value">
                61234, 61244
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Source code
              </dt>
              <dd class="nhsuk-summary-list__value">
                H, X, N
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Sender code
              </dt>
              <dd class="nhsuk-summary-list__value">
                A86020, A8640
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Source type
              </dt>
              <dd class="nhsuk-summary-list__value">
                1, 4, 7
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>
          
          
          </dl>

          <dl class="nhsuk-summary-list" id="define-test-result-details">

            <h2 class="nhsuk-heading-m">
              Define test result details
            </h2>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Date type
              </dt>
              <dd class="nhsuk-summary-list__value">
                Test taken date<br>15 March 2021 - 16 September 2021
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Slide number range
              </dt>
              <dd class="nhsuk-summary-list__value">
                18 0100011 - 19 0100011
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Result code
              </dt>
              <dd class="nhsuk-summary-list__value">
                X0A, X
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>
          
          
          </dl>

          <dl class="nhsuk-summary-list" id="define-recall-details">

            <h2 class="nhsuk-heading-m">
              Define recall details
            </h2>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Participant status
              </dt>
              <dd class="nhsuk-summary-list__value">
                Called, Routine, Suspended
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Episode status
              </dt>
              <dd class="nhsuk-summary-list__value">
                Invited, Reminded, Non responder
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>
          
          
          </dl>

          <dl class="nhsuk-summary-list" id="define-location-details">

            <h2 class="nhsuk-heading-m">
              Define location details
            </h2>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                GP practice code
              </dt>
              <dd class="nhsuk-summary-list__value">
                A1000000, A110100
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Patient post code
              </dt>
              <dd class="nhsuk-summary-list__value">
                LS1, LS25
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>
          
          
          </dl>

          <dl class="nhsuk-summary-list" id="define-patient-details">

            <h2 class="nhsuk-heading-m">
              Define patient details
            </h2>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Registration status
              </dt>
              <dd class="nhsuk-summary-list__value">
                Active<br>Inactive
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Data type
              </dt>
              <dd class="nhsuk-summary-list__value">
                Registered date<br>17 March 2021 - 10 September 2021
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Age range
              </dt>
              <dd class="nhsuk-summary-list__value">
                25 - 57
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Date type
              </dt>
              <dd class="nhsuk-summary-list__value">
                Next test due date<br>19 March 2008 - 10 November 201
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>

          
          
          </dl>

          <dl class="nhsuk-summary-list" id="define-communication-details">

            <h2 class="nhsuk-heading-m">
              Define communication details
            </h2>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Notification date range
              </dt>
              <dd class="nhsuk-summary-list__value">
                02 April 2021 - 10 November 2021
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> notification date range</span>
                </a>
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Notification type
              </dt>
              <dd class="nhsuk-summary-list__value">
                Prior notifications list - Called, Routine,
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> notification type</span>
                </a>
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Letter code
              </dt>
              <dd class="nhsuk-summary-list__value">
               1QR, 0QS
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> letter code</span>
                </a>
          
              </dd>
          
            </div>

          
          
          </dl>

      

        </fieldset>


      </div>
      <button class="nhsuk-button nhsuk-button--ers" type="submit">
        Save and continue
      </button>
    </form>
    
  </div>
</div>
{% endblock %}
