{% extends "layout-v2.html" %}

{% block pageScripts %}
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript" src="/js/auto.js"></script>
<style type="text/css" media="screen">
  .nhsuk-header__navigation-item:nth-child(4) {
    border-bottom: 4px solid #d8dde0;
  }
</style>
{% endblock %}
{% block pageTitle %}
NHS Cervical screening management system
{% endblock %}

{% block header %}
{% include '../components/header.html' %}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">

    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link nhsuk-u-margin-bottom-4" href="CSSE-create-step3">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to Step 3: Define patient details</a>
    </div>
    
    <span class="nhsuk-hint nhsuk-u-margin-bottom-1">Step 4 of 10</span>
    <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-7">
        Define recall details
    </h1>

    <form action="CSSE-create-step5" method="post">
      <div class="nhsuk-form-group">
        
        <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="current-participant-status">
            <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
              <p class="nhsuk-body nhsuk-u-margin-bottom-0">
                What current recall type do you want to include?
              </p>
            </legend>

            <div class="nhsuk-hint nhsuk-u-margin-bottom-4" id="checkbox-hint">
              Select all options that are relevant to you
            </div>

            <div class="nhsuk-checkboxes">

              <div class="nhsuk-checkboxes__item">
                <input type="checkbox" class="nhsuk-checkboxes__input" name="current-participant-status" id="current-part-select-all" value="" checked {{ checked("current-participant-status", "") }} data-select-all>
                <label for="current-part-select-all" class="nhsuk-label nhsuk-checkboxes__label">
                  Select all
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input type="checkbox" class="nhsuk-checkboxes__input" name="current-participant-status" id="current-routine" value="Routine" checked {{ checked("current-participant-status", "Routine") }}>
                <label for="current-routine" class="nhsuk-label nhsuk-checkboxes__label">
                  Routine
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input type="checkbox" class="nhsuk-checkboxes__input" name="current-participant-status" id="current-called" value="Called" checked {{ checked("current-participant-status", "Called") }}>
                <label for="current-called" class="nhsuk-label nhsuk-checkboxes__label">
                  Called
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input type="checkbox" class="nhsuk-checkboxes__input" name="current-participant-status" id="current-repeat-advised" value="Repeat advised" checked {{ checked("current-participant-status", "Repeat advised") }}>
                <label for="current-repeat-advised" class="nhsuk-label nhsuk-checkboxes__label">
                  Repeat advised
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input type="checkbox" class="nhsuk-checkboxes__input" name="current-participant-status" id="current-inadequate" checked value="Inadequate" {{ checked("current-participant-status", "Inadequate") }}>
                <label for="current-inadequate" class="nhsuk-label nhsuk-checkboxes__label">
                  Inadequate
                </label>
              </div>


              <div class="nhsuk-checkboxes__item">
                <input type="checkbox" class="nhsuk-checkboxes__input" name="current-participant-status" id="current-suspended" value="Suspended" checked {{ checked("current-participant-status", "Suspended") }}>
                <label for="current-suspended" class="nhsuk-label nhsuk-checkboxes__label">
                  Suspended
                </label>
              </div>


              <div class="nhsuk-checkboxes__item">
                <input type="checkbox" class="nhsuk-checkboxes__input" name="current-participant-status" id="current-ceased" value="Ceased" checked {{ checked("current-participant-status", "Ceased") }}>
                <label for="current-ceased" class="nhsuk-label nhsuk-checkboxes__label">
                  Ceased
                </label>
              </div>

            </div>

            <!--Comment here-->
        
              
          </fieldset>
        
          <!--<fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="previous-participant-status">
            <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
              <p class="nhsuk-body nhsuk-u-margin-bottom-4">
                Do you want to include previous participant status?
              </p>
            </legend>
  
            <div class="nhsuk-radios nhsuk-radios--conditional">
              
              <div class="nhsuk-radios__item">
                <input type="radio" class="nhsuk-radios__input" name="previous-participant-status" id="prev-status-yes" value="Yes" aria-controls="expand-prev-participant-status" aria-expnded="false">
                <label for="prev-status-yes" class="nhsuk-label nhsuk-radios__label">
                  Yes
                </label>
              </div>
  
              <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="expand-prev-participant-status">
                <div class="nhsuk-form-group">

                  <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="previous-participant-status">
                    <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                      <p class="nhsuk-body nhsuk-u-margin-bottom-0">
                        What previous participant status would you like to include?
                      </p>
                    </legend>
        
                    <div class="nhsuk-hint nhsuk-u-margin-bottom-2" id="checkbox-hint">
                      Previously known as prior recall type
                    </div>

                    <p class="nhsuk-body nhsuk-u-margin-bottom-4">
                      Select all options that are relevant to you
                    </p>
        
                    <div class="nhsuk-checkboxes">
                      <div class="nhsuk-checkboxes__item">
                        <input type="checkbox" class="nhsuk-checkboxes__input" name="previous-called" id="previous-called" value="Called">
                        <label for="previous-called" class="nhsuk-label nhsuk-checkboxes__label">
                          Called
                        </label>
                      </div>
        
                      <div class="nhsuk-checkboxes__item">
                        <input type="checkbox" class="nhsuk-checkboxes__input" name="current-routine" id="current-routine" value="Routine">
                        <label for="current-routine" class="nhsuk-label nhsuk-checkboxes__label">
                          Routine
                        </label>
                      </div>
        
                      <div class="nhsuk-checkboxes__item">
                        <input type="checkbox" class="nhsuk-checkboxes__input" name="current-suspended" id="current-suspended" value="Suspended">
                        <label for="current-suspended" class="nhsuk-label nhsuk-checkboxes__label">
                          Suspended
                        </label>
                      </div>
        
                      <div class="nhsuk-checkboxes__item">
                        <input type="checkbox" class="nhsuk-checkboxes__input" name="current-repeat-advised" id="current-repeat-advised" value="Repeat advised">
                        <label for="current-repeat-advised" class="nhsuk-label nhsuk-checkboxes__label">
                          Repeat advised
                        </label>
                      </div>
        
                      <div class="nhsuk-checkboxes__item">
                        <input type="checkbox" class="nhsuk-checkboxes__input" name="current-inadequate" id="current-inadequate" value="Inadequate">
                        <label for="current-inadequate" class="nhsuk-label nhsuk-checkboxes__label">
                          Inadequate
                        </label>
                      </div>
        
                      <div class="nhsuk-checkboxes__item">
                        <input type="checkbox" class="nhsuk-checkboxes__input" name="current-routine" id="current-routine" value="Routine">
                        <label for="current-routine" class="nhsuk-label nhsuk-checkboxes__label">
                          Cancelled
                        </label>
                      </div>
        
                    </div>
                
                      
                  </fieldset>

                </div>
              </div>

              <div class="nhsuk-radios__item">
                <input type="radio" class="nhsuk-radios__input" name="previous-participant-status" id="prev-status-no" value="No" aria-controls="expand-prev-participant-status-no" aria-expnded="false" checked>
                <label for="prev-status-no" class="nhsuk-label nhsuk-radios__label">
                  No
                </label>
              </div>

              <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="expand-prev-participant-status-no">

              </div>
  
  
            </div>
  

        
              
          </fieldset>--> 

          <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="current-episode-status">
            <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
              <p class="nhsuk-body nhsuk-u-margin-bottom-0">
                What current recall status do you want to include?
              </p>
            </legend>

            <div class="nhsuk-hint nhsuk-u-margin-bottom-4" id="checkbox-hint">
              Select all options that are relevant to you
            </div>
            <!--Includes CSMS episode status and NHAIS recall status-->

            <div class="nhsuk-checkboxes">

              <div class="nhsuk-checkboxes__item">
                <input type="checkbox" class="nhsuk-checkboxes__input" name="current-episode-status" id="current-ep-select-all" value="" checked {{ checked("current-episode-status", "") }} data-select-all>
                <label for="current-ep-select-all" class="nhsuk-label nhsuk-checkboxes__label">
                  Select all
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input type="checkbox" class="nhsuk-checkboxes__input" name="current-episode-status" id="current-not-due" value="Not due yet" checked {{ checked("current-episode-status", "Not due yet") }}>
                <label for="current-not-due" class="nhsuk-label nhsuk-checkboxes__label">
                  No action
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input type="checkbox" class="nhsuk-checkboxes__input" name="current-episode-status" id="current-due-invite" value="On prior notification list of patients due to be invited" checked {{ checked("current-episode-status", "On prior notification list of patients due to be invited") }}>
                <label for="current-due-invite" class="nhsuk-label nhsuk-checkboxes__label">
                 GP informed via prior notification list
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input type="checkbox" class="nhsuk-checkboxes__input" name="current-episode-status" id="current-invited" value="Invited" checked {{ checked("current-episode-status", "Invited") }}>
                <label for="current-invited" class="nhsuk-label nhsuk-checkboxes__label">
                  Invited
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input type="checkbox" class="nhsuk-checkboxes__input" name="current-episode-status" id="current-reminded" value="Reminded" checked {{ checked("current-episode-status", "Reminded") }}>
                <label for="current-reminded" class="nhsuk-label nhsuk-checkboxes__label">
                  Reminded
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input type="checkbox" class="nhsuk-checkboxes__input" name="current-episode-status" id="current-nonresponder" value="Non responder" checked {{ checked("current-episode-status", "Non responder") }}>
                <label for="current-nonresponder" class="nhsuk-label nhsuk-checkboxes__label">
                  Non responder
                </label>
              </div>
              <!--div class="nhsuk-checkboxes__item">
                <input type="checkbox" class="nhsuk-checkboxes__input" name="current-episode-status" id="current-pause" value="Pause patient notifications" checked {{ checked("current-episode-status", "Pause patient notifications") }}>
                <label for="current-pause" class="nhsuk-label nhsuk-checkboxes__label">
                 Ceased
                </label>
              </div>

              <<div class="nhsuk-checkboxes__item">
                <input type="checkbox" class="nhsuk-checkboxes__input" name="current-no-action" id="current-no-action" value="No action (NHAIS)">
                <label for="current-no-action" class="nhsuk-label nhsuk-checkboxes__label">
                  No action (NHAIS)
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input type="checkbox" class="nhsuk-checkboxes__input" name="current-gp-not-informed" id="current-gp-not-informed" value="GP not informed (NHAIS)">
                <label for="current-gp-not-informed" class="nhsuk-label nhsuk-checkboxes__label">
                  GP not informed (NHAIS)
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input type="checkbox" class="nhsuk-checkboxes__input" name="current-gp-informed" id="current-gp-informed" value="GP informed (NHAIS)">
                <label for="current-gp-informed" class="nhsuk-label nhsuk-checkboxes__label">
                  GP informed (NHAIS)
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input type="checkbox" class="nhsuk-checkboxes__input" name="current-patient-informed" id="current-patient-informed" value="Patient informed (NHAIS)">
                <label for="current-patient-informed" class="nhsuk-label nhsuk-checkboxes__label">
                  Patient informed (NHAIS)
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input type="checkbox" class="nhsuk-checkboxes__input" name="current-2nd-letter" id="current-2nd-letter" value="Reminder - 2nd letter (NHAIS)">
                <label for="current-2nd-letter" class="nhsuk-label nhsuk-checkboxes__label">
                  Reminder - 2nd letter (NHAIS)
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input type="checkbox" class="nhsuk-checkboxes__input" name="current-1st-nonresponder" id="current-1st-nonresponder" value="1st non responder (NHAIS)">
                <label for="current-1st-nonresponder" class="nhsuk-label nhsuk-checkboxes__label">
                  1st non responder (NHAIS)
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input type="checkbox" class="nhsuk-checkboxes__input" name="current-final-nonresponder" id="current-final-nonresponder" value="Final non responder (NHAIS)">
                <label for="current-final-nonresponder" class="nhsuk-label nhsuk-checkboxes__label">
                  Final non responder (NHAIS)
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input type="checkbox" class="nhsuk-checkboxes__input" name="current-receipt-logged" id="current-receipt-logged" value="Receipt logged (NHAIS)">
                <label for="current-receipt-logged" class="nhsuk-label nhsuk-checkboxes__label">
                  Receipt logged (NHAIS)
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input type="checkbox" class="nhsuk-checkboxes__input" name="current-ZZZ" id="current-ZZZ" value="ZZZ (dummy) GP (NHAIS)">
                <label for="current-ZZZ" class="nhsuk-label nhsuk-checkboxes__label">
                  ZZZ (dummy) GP (NHAIS)
                </label>
              </div-->

              <div class="nhsuk-checkboxes__item">
                <input type="checkbox" class="nhsuk-checkboxes__input" name="current-ceased" id="current-ceased" value="Ceased or cancelled (NHAIS)" checked {{ checked("current-episode-status", "Ceased") }}>
                <label for="current-ceased" class="nhsuk-label nhsuk-checkboxes__label">
                  Ceased
                </label>
              </div>
              

            </div>
        
              
          </fieldset>
          
          <!--<fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="previous-episode-status">
            <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
              <p class="nhsuk-body nhsuk-u-margin-bottom-4">
                Do you want to include previous participant status?
              </p>
            </legend>
  
            <div class="nhsuk-radios nhsuk-radios--conditional">
              
              <div class="nhsuk-radios__item">
                <input type="radio" class="nhsuk-radios__input" name="previous-episode-status" id="prev-status-yes" value="Yes" aria-controls="expand-prev-episode-status" aria-expnded="false">
                <label for="prev-status-yes" class="nhsuk-label nhsuk-radios__label">
                  Yes
                </label>
              </div>
  
              <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="expand-prev-episode-status">
                <div class="nhsuk-form-group">

                  <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="prev-episode-status">
                    <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                      <p class="nhsuk-body nhsuk-u-margin-bottom-0">
                        What previous episode status would you like to include?
                      </p>
                    </legend>
        
                    <div class="nhsuk-hint nhsuk-u-margin-bottom-2" id="checkbox-hint">
                      Previously known as prior recall status
                    </div>
                    //Includes CSMS episode status and NHAIS recall status
        
                    <p class="nhsuk-body nhsuk-u-margin-bottom-4">
                      Select all options that are relevant to you
                    </p>
        
                    <div class="nhsuk-checkboxes">

                      <div class="nhsuk-checkboxes__item">
                        <input type="checkbox" class="nhsuk-checkboxes__input" name="prev-not-due" id="prev-not-due" value="Not due yet (CSMS)">
                        <label for="prev-not-due" class="nhsuk-label nhsuk-checkboxes__label">
                          Not due yet
                        </label>
                      </div>
        
                      <div class="nhsuk-checkboxes__item">
                        <input type="checkbox" class="nhsuk-checkboxes__input" name="prev-waiting-invite" id="prev-waiting-invite" value="Waiting to be sent invite (CSMS)">
                        <label for="prev-waiting-invite" class="nhsuk-label nhsuk-checkboxes__label">
                          Waiting to be sent invite
                        </label>
                      </div>
        
                      <div class="nhsuk-checkboxes__item">
                        <input type="checkbox" class="nhsuk-checkboxes__input" name="prev-invited" id="prev-invited" value="Invited (CSMS)">
                        <label for="prev-invited" class="nhsuk-label nhsuk-checkboxes__label">
                          Invited
                        </label>
                      </div>
        
                      <div class="nhsuk-checkboxes__item">
                        <input type="checkbox" class="nhsuk-checkboxes__input" name="prev-reminded" id="prev-reminded" value="Reminded (CSMS)">
                        <label for="prev-reminded" class="nhsuk-label nhsuk-checkboxes__label">
                          Reminded
                        </label>
                      </div>
        
                      <div class="nhsuk-checkboxes__item">
                        <input type="checkbox" class="nhsuk-checkboxes__input" name="prev-nonresponder" id="prev-nonresponder" value="Non responder (CSMS)">
                        <label for="prev-nonresponder" class="nhsuk-label nhsuk-checkboxes__label">
                          Non responder
                        </label>
                      </div>
        
                      <div class="nhsuk-checkboxes__item">
                        <input type="checkbox" class="nhsuk-checkboxes__input" name="prev-no-action" id="prev-no-action" value="No action (NHAIS)">
                        <label for="prev-no-action" class="nhsuk-label nhsuk-checkboxes__label">
                          No action (NHAIS)
                        </label>
                      </div>
        
                      <div class="nhsuk-checkboxes__item">
                        <input type="checkbox" class="nhsuk-checkboxes__input" name="prev-gp-not-informed" id="prev-gp-not-informed" value="GP not informed (NHAIS)">
                        <label for="prev-gp-not-informed" class="nhsuk-label nhsuk-checkboxes__label">
                          GP not informed (NHAIS)
                        </label>
                      </div>
        
                      <div class="nhsuk-checkboxes__item">
                        <input type="checkbox" class="nhsuk-checkboxes__input" name="prev-gp-informed" id="prev-gp-informed" value="GP informed (NHAIS)">
                        <label for="prev-gp-informed" class="nhsuk-label nhsuk-checkboxes__label">
                          GP informed (NHAIS)
                        </label>
                      </div>
        
                      <div class="nhsuk-checkboxes__item">
                        <input type="checkbox" class="nhsuk-checkboxes__input" name="prev-patient-informed" id="prev-patient-informed" value="Patient informed (NHAIS)">
                        <label for="prev-patient-informed" class="nhsuk-label nhsuk-checkboxes__label">
                          Patient informed (NHAIS)
                        </label>
                      </div>
        
                      <div class="nhsuk-checkboxes__item">
                        <input type="checkbox" class="nhsuk-checkboxes__input" name="prev-2nd-letter" id="prev-2nd-letter" value="Reminder - 2nd letter (NHAIS)">
                        <label for="prev-2nd-letter" class="nhsuk-label nhsuk-checkboxes__label">
                          Reminder - 2nd letter (NHAIS)
                        </label>
                      </div>
        
                      <div class="nhsuk-checkboxes__item">
                        <input type="checkbox" class="nhsuk-checkboxes__input" name="prev-1st-nonresponder" id="prev-1st-nonresponder" value="1st non responder (NHAIS)">
                        <label for="prev-1st-nonresponder" class="nhsuk-label nhsuk-checkboxes__label">
                          1st non responder (NHAIS)
                        </label>
                      </div>
        
                      <div class="nhsuk-checkboxes__item">
                        <input type="checkbox" class="nhsuk-checkboxes__input" name="prev-final-nonresponder" id="prev-final-nonresponder" value="Final non responder (NHAIS)">
                        <label for="prev-final-nonresponder" class="nhsuk-label nhsuk-checkboxes__label">
                          Final non responder (NHAIS)
                        </label>
                      </div>
        
                      <div class="nhsuk-checkboxes__item">
                        <input type="checkbox" class="nhsuk-checkboxes__input" name="prev-receipt-logged" id="prev-receipt-logged" value="Receipt logged (NHAIS)">
                        <label for="prev-receipt-logged" class="nhsuk-label nhsuk-checkboxes__label">
                          Receipt logged (NHAIS)
                        </label>
                      </div>
        
                      <div class="nhsuk-checkboxes__item">
                        <input type="checkbox" class="nhsuk-checkboxes__input" name="prev-ZZZ" id="prev-ZZZ" value="ZZZ (dummy) GP (NHAIS)">
                        <label for="prev-ZZZ" class="nhsuk-label nhsuk-checkboxes__label">
                          ZZZ (dummy) GP (NHAIS)
                        </label>
                      </div>
        
                      <div class="nhsuk-checkboxes__item">
                        <input type="checkbox" class="nhsuk-checkboxes__input" name="prev-ceased" id="prev-ceased" value="Ceased or cancelled (NHAIS)">
                        <label for="prev-ceased" class="nhsuk-label nhsuk-checkboxes__label">
                          Ceased or cancelled (NHAIS)
                        </label>
                      </div>
                      
        
                    </div>
                
                      
                  </fieldset>

                </div>
              </div>

              <div class="nhsuk-radios__item">
                <input type="radio" class="nhsuk-radios__input" name="previous-episode-status" id="prev-status-no" value="No" aria-controls="expand-prev-episode-status-no" aria-expnded="false" checked>
                <label for="prev-status-no" class="nhsuk-label nhsuk-radios__label">
                  No
                </label>
              </div>

              <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="expand-prev-episode-status-no">

              </div>
  
  
            </div>
  

        
              
          </fieldset>-->

      </div>
      <button class="nhsuk-button nhsuk-button--ers" type="submit">
        Continue
      </button>
    </form>

    <div class="nhsuk-body">
      <p>
        <a href="CSSE-home" class="nhsuk-link">Exit without saving</a>
      </p>
    </div>
   

    
  </div>
</div>
{% endblock %}
