{% extends "layout-v2-patient.html" %}

{% block pageScripts %}
  <script type="text/javascript" src="/js/search.js"></script>
  <script type="text/javascript" src="/js/auto.js"></script>
  <script type="text/javascript" src="/js/action-menu.js"></script>
  <script type="text/javascript" src="/js/sort.js"></script>
    <script type="text/javascript" src="/js/tabs.js"></script>
{% endblock %}
{% block pageTitle %}
  NHS Cervical screening management system
{% endblock %}

{% block header %}
<header class="nhsuk-header" role="banner">
  <div class="nhsuk-width-container nhsuk-header__container">
    <div class="nhsuk-header__logo"><a class="nhsuk-header__link nhsuk-header__link--service " href="/" aria-label="NHS homepage">

  <svg class="nhsuk-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 16" height="40" width="100">
    <path class="nhsuk-logo__background" fill="#005eb8" d="M0 0h40v16H0z"></path>
    <path class="nhsuk-logo__text" fill="#fff" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
  </svg>

        <span class="nhsuk-header__service-name">
          Cervical Screening Management System
        </span>
      </a>
    </div>

    <div class="nhsuk-header__logout">
      <a class="nhsuk-header__logout--link" href="/v12/login/login?patversion=7">Log out</a>
    </div>

      <div class="nhsuk-header__content" id="content-header">
        <div class="nhsuk-header__menu nhsuk-header__menu--only">
          <button class="nhsuk-header__menu-toggle" id="toggle-menu" aria-controls="header-navigation" aria-expanded="false">Menu</button>
        </div>
      </div>
    </div>

    </header>
{% endblock %}

{% block patientBanner %}
  {% include '../components/dummy-patient-banner.html' %}
{% endblock %}


{% block content %}
  {% if data.role != 'sampleTaker' %}
  <nav class="nhsuk-sub-navigation">
    <ul class="nhsuk-sub-navigation__list">
      <li class="nhsuk-sub-navigation__item"><a href="dummy-patient-summary" class="nhsuk-sub-navigation__link" aria-current="page">Patient Summary</a></li>
      <li class="nhsuk-sub-navigation__item"><a href="dummy-history" class="nhsuk-sub-navigation__link">Audit</a></li>
      <li class="nhsuk-sub-navigation__item"><a href="dummy-no-gp" class="nhsuk-sub-navigation__link">GP Information</a></li>
    </ul>
  </nav>
{% endif %}

<div class="nhsuk-grid-row nhsuk-u-margin-top-4">
  <div class="nhsuk-grid-column-three-quarters">
    <h1 class="nhsuk-heading-l">Patient summary</h1>

    <span class="nhsuk-tag nhsuk-tag--purple nhsuk-u-margin-bottom-2">Dummy registration</span>

    <dl class="nhsuk-summary-list nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Next test due date:
        </dt>
        <dd class="nhsuk-summary-list__value">
          04-Feb-2023
        </dd>
        <dd class="nhsuk-summary-list__actions">
            Actions:
              <a href="../patient/deactivate-dummy">Deactivate</a>
        </dd>
      </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Invited date:
          </dt>
          <dd class="nhsuk-summary-list__value">
              04-Feb-2020
          </dd>
          <dd class="nhsuk-summary-list__actions">
          </dd>
        </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
            Address:
        </dt>
        <dd class="nhsuk-summary-list__value">
          1 Westfield Place, Marley, Shelford, Shelfordshire CB22 5JJ
        </dd>
        <dd class="nhsuk-summary-list__actions">
        </dd>
      </div>
    </dl>
    {#{% if data.role != 'sampleTaker' %}
      {{ details({
      "text": "View previous addresses",
      "HTML": "

      <h4>Address History</h4>
      <table>
      <thead>
      <tr>
        <th>Moved in</th>
        <th>Address</th>
      </tr>
      </thead>
      <tr>
      <td>07 2017</td>
      <td>20 Thornhill Street, Pudsey, LS15 6FD</td>
      </tr>
      <tr>
      <td>03 2013</td>
      <td>29 Jubilee Close, Bradford, BD19 3WE</td>
      </tr>
      <tr>
      <td>01 2011</td>
      <td>1 High Street, Bradford, BD13 5TY</td>
      </tr>
      </table>"
      }) }}
    {% endif %}#}

    {% if data.role == 'sampleTaker' %}
    <br>
    {% include '../components/hmr101.html' %}

    {% endif %}
  </div>
</div>

<div class="nhsuk-grid-row nhsuk-u-margin-top-4">
  <div class="nhsuk-grid-column-full">

    {% if data.role == 'csas' %}
    <h2 id="testresults" class="nhsuk-heading-l">Test results</h2>

    <a class="nhsuk-button nhsuk-button--ers nhsuk-button--secondary nhsuk-u-margin-bottom-4" href="#">Add result</a>
    {% endif %}

      <div class="nhsuk-scrollable-pane">
        <div class="nhsuk-scrollable-pane__wrapper">
            <div id="table-scroll" class="table-scroll">
              <div class="nhsuk-table-responsive nhsuk-u-margin-top-0 table-wrap">
                <table id="sortable" class="nhsuk-table nhsuk-table-u-margin-0 nhsuk-table-clickable main-table">

                  <!-- TABLE START -->
                  <thead class="nhsuk-table__head">
                    <tr class="nhsuk-table__row">
                      <th class="nhsuk-table__header" scope="col">Test Date</th>
                      <th class="nhsuk-table__header"  scope="col">Cytology result</th>
                      <th class="nhsuk-table__header" scope="col">HPV infection</th>
                      <th class="nhsuk-table__header" scope="col">Action</th>
                      <th class="nhsuk-table__header" scope="col">Repeat</th>
                      <th class="nhsuk-table__header" scope="col">Slide Number</th>
                      <th class="nhsuk-table__header no-print" scope="col">Amend</th>
                    </tr>
                  </thead>
                  <tbody class="nhsuk-table__body nhsuk-body-">


                    <tr class="nhsuk-table__row">
                      <td class="nhsuk-table__cell fixed-side">
                        04-Feb-2020
                        <span class="nhsuk-table__cell--hint">English</span>
                      </td>
                      <td class="nhsuk-table__cell">
                        No cytology result
                        <span class="nhsuk-table__cell--hint">X</span>
                      </td>
                      <td class="nhsuk-table__cell">
                        HPV negative
                        <span class="nhsuk-table__cell--hint">0</span>
                      </td>
                      <td class="nhsuk-table__cell">
                        Routine recall
                      <span class="nhsuk-table__cell--hint">A</span>
                      </td>
                      <td class="nhsuk-table__cell">
                        36
                        <span class="nhsuk-table__cell--hint">Months</span>
                      </td>
                      <td class="nhsuk-table__cell">
                        70406000
                        <span class="nhsuk-table__cell--hint"> Lab: 65030</span>
                      </td>
                      <td class="no-print">
                        <a href="#" style="margin-left:4px; margin-right:4px;">Review</a>
                        <a href="#" style="margin-left:4px; margin-right:4px;">Delete</a>
                      </td>

                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>

  </div>
</div>

{% endblock %}

{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container nhsuk-width-container-fluid">
      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
      <p><a href="/v12/reset-patient-data-12">Reset patient data</a></p>
    </div>
  </div>
</footer>
{% endblock %}
