{% extends "layout-v2.html" %}
{% block pageScripts %}
<style type="text/css" media="screen">
  .nhsuk-header__navigation-item:nth-child(2){
    border-bottom:4px solid #d8dde0;
  }
</style>
{% endblock %}

{% block pageTitle %}
  NHS Cervical screening management system
{% endblock %}

{% block header %}

{% include 'v12/components/header.html' %}

{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">

    <div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
      <a class="nhsuk-back-link__link" href="pause-patient">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Back to Are you sure you want to pause this patient?</a>
    </div>
    <div class="nhsuk-card nhsuk-card--feature">
    <div class="nhsuk-card__content nhsuk-card__content--feature">
      {% include 'v12/components/patient-result-4.html' %}
     <span class="nhsuk-hint">Step 2 of 6</span>

<form action="add-test-details" method="post"> <input type="hidden" name="hideDetails" value="true">

  <fieldset class="nhsuk-fieldset">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
      <h1 class="nhsuk-fieldset__heading">
        Add test type details that is causing the pause
      </h1>
    </legend>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-three-quarters">
    <div class="nhsuk-warning-callout">
  <h3 class="nhsuk-warning-callout__label">
    <span role="text">
      <span class="nhsuk-u-visually-hidden">Important: </span>
      Important
    </span>
  </h3>
  <p>Any test details you add here will not be added to the patient's record.</p>
</div>
</div>
</div>


    <div class="nhsuk-form-group">
      <div class="nhsuk-grid-row">
       <div class="nhsuk-grid-column-three-quarters">
      <label class="nhsuk-label nhsuk-label__strong" for="example-with-hint-text">
        National code
      </label>
      <div class="nhsuk-hint" id="example-with-hint-text-hint">
        Also known as lab code. 5 Digits for example, 61234.
        <br> Enter XXXXX if no national code provided (for example for historic, Scottish, abroad or unknown tests).
      </div>
      <input class="nhsuk-input nhsuk-input--width-10" value="{{ data['national-code'] }}" id="national-code" name="national-code" type="text" aria-describedby="example-with-hint-text-hint" inputmode="numeric">
    </div>

  </div>
  </div>


     {{ input({
       "label": {
         "text": "Health authority",
        "classes": "nhsuk-label nhsuk-label__strong"
       },
       hint: {
          html: "1 to 3 letters for example, A, DN or LNA. <br>
          Enter health authority code if provided. Leave blank if not provided"
       },
        "id": "input-width-2",
       "name": "health-authority",
       "classes": "nhsuk-input--width-2",
       "autocomplete": "off",
       "value": data['health-authority']
     }) }}


    <button class="nhsuk-button nhsuk-button--ers" type="submit">Continue</button>
  </form>


  <p><a href="manc-rejected">Exit without saving</a></p>

        </fieldset>


{% endblock %}


{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container nhsuk-width-container-fluid">
      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
      <p><a href="/v12/reset-patient-data-12">Reset patient data</a></p>
    </div>
  </div>
</footer>
{% endblock %}
