{% extends "layout-v2.html" %}
{% block pageScripts %}
<style type="text/css" media="screen">
  .nhsuk-header__navigation-item:nth-child(2){
    border-bottom:4px solid #d8dde0;
  }
</style>
{% endblock %}

{% block pageTitle %}
  NHS Cervical screening management system
{% endblock %}

{% block header %}

{% include 'v12/components/header.html' %}

{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">

    <div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
      <a class="nhsuk-back-link__link" href="add-test-type">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Back to Add test type details that is causing the pause</a>
    </div>
    <div class="nhsuk-card nhsuk-card--feature">
    <div class="nhsuk-card__content nhsuk-card__content--feature">
      {% include 'v12/components/patient-result-4.html' %}
     <span class="nhsuk-hint">Step 3 of 6</span>

<form action="add-test-result-2" method="post">

  <fieldset class="nhsuk-fieldset">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
      <h1 class="nhsuk-fieldset__heading">
        Add test details
      </h1>
    </legend>

    <div class="nhsuk-form-group">
                   <label class="nhsuk-label nhsuk-label__strong" for="sender-code">
                     Sender code
                   </label>
                   <div class="nhsuk-hint" id="example-with-hint-text-hint">
                     Also known as Practice code, non GP sender code or GNC number.
                     <br>
                     For example, A86020.
                     <br>
                     Leave blank if no sender code provided.
                   </div>
                   <input class="nhsuk-input nhsuk-input--width-4" value='{{ senderValue }}' id="sender-code" name="sender-code" type="text" aria-describedby="Sender code" inputmode="text" autocomplete="off">
               </div>


       {{ input({
                  "label": {
                   "text": "Slide number",
                   "classes": "nhsuk-label nhsuk-label__strong"
                  },
                  hint: {
                     html: "For example, 18010000"
                  },
                  "id": "input-width-10",
                  "name": "slide-number",
                  "classes": "nhsuk-input--width-10",
                  "autocomplete": "off",
                  "value": data['slide-number']
                 }) }}

               {{ dateInput({
                 "id": "example",
                 "namePrefix": "example",
                 "fieldset": {
                   "legend": {
                     "text": "Test date",
                     "classes": "nhsuk-label nhsuk-label__strong",
                     "isPageHeading": true
                   }
                 },
                 "hint": {
                   "text": "For example, 15 3 1984"
                 },
                 "items": [
                   {
                     "name": "day",
                     "classes": "nhsuk-input--width-2",
                     "autocomplete": "off",
                     "value": data['example-day']
                   },
                   {
                     "name": "month",
                     "classes": "nhsuk-input--width-2",
                     "autocomplete": "off",
                     "value": data['example-month']
                   },
                   {
                     "name": "year",
                     "classes": "nhsuk-input--width-4",
                     "autocomplete": "off",
                     "value": data['example-year']
                   }
                 ]
               }) }}
             </fieldset>

    <button class="nhsuk-button nhsuk-button--ers" type="submit">Continue</button>
  </form>


  <p><a href="manc-rejected">Exit without saving</a></p>



{% endblock %}


{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container nhsuk-width-container-fluid">
      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
      <p><a href="/v12/reset-patient-data-12">Reset patient data</a></p>
    </div>
  </div>
</footer>
{% endblock %}
