{% extends "layout-v2.html" %}

{% block pageScripts %}
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript" src="/js/auto.js"></script>
<style type="text/css" media="screen">
  .nhsuk-header__navigation-item:nth-child(4) {
    border-bottom: 4px solid #d8dde0;
  }
</style>
{% endblock %}
{% block pageTitle %}
NHS Cervical screening management system
{% endblock %}

{% block header %}
{% include '../../components/header.html' %}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">

    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" href="../CSSE-home">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to system enquiries tool</a>
    </div>

   <h2 class="nhsuk-heading-l">View an existing enquiry</h2>

   <p class="nhsuk-body">
    Here you can view existing enquiries in order of the date they were created. You can also search and refine by name and date created to find specific enquiries.
   </p>


   
   <details class="nhsuk-details">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        Refine search by enquiry name or date
      </span>
    </summary>
    <div class="nhsuk-details__text">

      <div class="nhsuk-form-group">
        <form action="csse-manage-enquiry" method="post">
         <fieldset class="nhsuk-fieldset" aria-describedby="search-existing-query" role="group">
           <legend class="nhsuk-fieldset__legend nhsuk-label">
             <p class="nhsuk-body nhsuk-u-font-weight-bold">
               Search an existing enquiry
             </p>
           </legend>
    
           <label for="search-name" class="nhsuk-label">Enter enquiry name (optional)</label>
           <input type="text" class="nhsuk-input nhsuk-input--width-10 nhsuk-u-margin-bottom-4" id="search-name" name="search-name" type="text" value="{{ data['search-name'] }}">
    
           <!--<label for="search-code" class="nhsuk-label">Code</label>
           <input type="text" class="nhsuk-input nhsuk-input--width-10 nhsuk-u-margin-bottom-4" id="search-code" name="search-code" type="text" value="{{ data['#'] }}">-->
    
           <div class="nhs-date-input" id="search-date">
    
            <label for="search-date" class="nhsuk-label">Enter date created (optional)</label>
    
             <div class="nhsuk-hint" for="search-date-hint">
              For example, 15 3 1984
             </div>
    
             <div class="nhsuk-date-input__item">
               <div class="nhsuk-form-group">
                <label for="search-date-day" class="nhsuk-label">Day</label>
                <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="search-date-day" name="search-date-day" type="text" value="{{ data['search-date-day'] }}" pattern="[0-9]*" inputmode="numeric">
               </div>
             </div>
    
             <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
               <label for="search-date-month" class="nhsuk-label">Month</label>
               <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-u-margin-bottom-4" id="search-date-month" name="search-date-month" type="text" value="{{ data['search-date-month'] }}" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
    
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
               <label for="search-date-year" class="nhsuk-label">Year</label>
               <input type="text" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 nhsuk-u-margin-bottom-4" id="search-date-year" name="search-date-year" type="text" value="{{ data['search-date-year'] }}" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
    
           </div>
         
         </fieldset>
    
         <button class="nhsuk-button nhsuk-button--ers" type="submit">
          Search
        </button>
    
        </form>
    
        
      </div>

  
    </div>
  </details>

   <p class="nhsuk-body">
    {% if data['search-date-day'] %} Found 4 enquiries for <strong>{{ data['search-name'] }}</strong> made on <strong>{{ data['search-date-day'] }}-{{ data['search-date-month'] }}-{{ data['search-date-year'] }}</strong>. If you cannot see the enquiry report you are looking for, search again.{% else %}{% endif %}
   </p>

   <!--<p>If this is not the report you are looking for, <a href="../CSSE-home">search again</a>.</p>-->

   
   <table role="table" class="nhsuk-table-responsive">
    <caption class="nhsuk-table__caption">System enquiries reports</caption>
    <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
        <th role="columnheader" class="nhsuk-u-font-weight-bold" scope="col" style="width: 15%;">
          Date created
        </th>
        <th role="columnheader" class="nhsuk-u-font-weight-bold" scope="col" style="width: 25%;">
          Enquiry name
        </th>
        <th role="columnheader" class="nhsuk-u-font-weight-bold" scope="col"style="width: 20%;">
         Action
        </th>
        <th role="columnheader" class="nhsuk-u-font-weight-bold" scope="col" style="width: 20%;">
         
        </th>
        <th role="columnheader" class="" scope="col" style="width: 5%;">
         
        </th>
        <th role="columnheader" class="" scope="col" style="width: 25%;">
         Created by
        </th>

      </tr>
    </thead>
    <tbody class="nhsuk-table__body">

      <tr role="row" class="nhsuk-table__row">
        <td class="nhsuk-table__cell">{% if data['search-date-day'] %}{{ data['search-date-day'] }}{% else %}11{% endif %}-{% if data['search-date-month'] %}{{ data['search-date-month'] }}{% else %}Aug{% endif %}-{% if data['search-date-year'] %}{{ data['search-date-year'] }}{% else %}2022{% endif %}<span class="nhsuk-table__cell--hint">11:00am</span></td>
        <td class="nhsuk-table__cell ">{% if data['search-name'] %}{{ data['search-name'] }}{% else %}HPV primary in bristol{% endif %}</td>
        <td class="nhsuk-table__cell"><a href="">Download report</a></td>
        <td class="nhsuk-table__cell"><a href="csse-view-enquiry">View or edit enquiry details</a></td>
        <td class="nhsuk-table__cell"><a href="csse-remove-enquiry"></a></td>
        <td class="nhsuk-table__cell">Catherine Johnson</td>

      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td class="nhsuk-table__cell">{% if data['search-date-day'] %}{{ data['search-date-day'] }}{% else %}29{% endif %}-{% if data['search-date-month'] %}{{ data['search-date-month'] }}{% else %}Jun{% endif %}-{% if data['search-date-year'] %}{{ data['search-date-year'] }}{% else %}2021{% endif %}<span class="nhsuk-table__cell--hint">11:00am</span></td>
        <td class="nhsuk-table__cell ">{% if data['search-name'] %}{{ data['search-name'] }}{% else %}Ceased participants total{% endif %}</td>
        <td class="nhsuk-table__cell"><a href="">Download report</a></td>
        <td class="nhsuk-table__cell"><a href="csse-view-enquiry">View or edit enquiry details</a></td>
        <td class="nhsuk-table__cell"><a href="csse-remove-enquiry"></a></td>
        <td class="nhsuk-table__cell">Anne Mae</td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td class="nhsuk-table__cell">{% if data['search-date-day'] %}{{ data['search-date-day'] }}{% else %}18{% endif %}-{% if data['search-date-month'] %}{{ data['search-date-month'] }}{% else %}Jun{% endif %}-{% if data['search-date-year'] %}{{ data['search-date-year'] }}{% else %}2021{% endif %}<span class="nhsuk-table__cell--hint">11:00am</span></td>
        <td class="nhsuk-table__cell ">{% if data['search-name'] %}{{ data['search-name'] }}{% else %}Patients with no results{% endif %}</td>
        <td class="nhsuk-table__cell"><a href="">Download report</a></td>
        <td class="nhsuk-table__cell"><a href="csse-view-enquiry">View or edit enquiry details</a></td>
        <td class="nhsuk-table__cell"><a href="csse-remove-enquiry"></a></td>
        <td class="nhsuk-table__cell">Halima Bismillah</td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td class="nhsuk-table__cell">{% if data['search-date-day'] %}{{ data['search-date-day'] }}{% else %}09{% endif %}-{% if data['search-date-month'] %}{{ data['search-date-month'] }}{% else %}May{% endif %}-{% if data['search-date-year'] %}{{ data['search-date-year'] }}{% else %}2021{% endif %} <span class="nhsuk-table__cell--hint">11:00am</span></td>
        <td class="nhsuk-table__cell ">{% if data['search-name'] %}{{ data['search-name'] }}{% else %}Non responders{% endif %}</td>
        <td class="nhsuk-table__cell"><a href="">Download report</a></td>
        <td class="nhsuk-table__cell"><a href="csse-view-enquiry">View or edit enquiry details</a></td>
        <td class="nhsuk-table__cell"><a href="csse-remove-enquiry"></a></td>
        <td class="nhsuk-table__cell">Ole Sven</td>
      </tr>

    </tbody>


  </table>
  <div class="table-foot">

    <nav role="navigation" aria-label="Pagination">
      <ul class="screening-pagination">
        <li class="screening-pagination-item" aria-current="page">
          <span class="screeing-pagination-current">
            1</span>
          </a>
        </li>
        <li class="screening-pagination-item">
          <a href="">
            <span>2</span>
          </a>
        </li>
        <li class="screening-pagination-item">
          <a href="">
            <span>3</span>
          </a>
        </li>
        <li class="screening-pagination-item">
          <a href="">
            <span>Next >></span>
          </a>
        </li>
      </ul>
    </nav>
    <!--<a href="" class="nhsuk-button nhsuk-button--ers">Show more</a>-->
    <span class="results-count">Showing 4 of 18 results</span>
    </span>

  </div>

  


   
    
  </div>
</div>
{% endblock %}
