{% extends "layout-v2.html" %}

{% block pageScripts %}
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript" src="/js/auto.js"></script>
<style type="text/css" media="screen">
  .nhsuk-header__navigation-item:nth-child(4) {
    border-bottom: 4px solid #d8dde0;
  }
</style>
{% endblock %}
{% block pageTitle %}
NHS Cervical screening management system
{% endblock %}

{% block header %}
{% include '../../components/header.html' %}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">

    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" href="../csse-manage/csse-view-enquiry">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to view enquiry details</a>
    </div>

   <h2 class="nhsuk-heading-l">Overwrite current enquiry</h2>

   
   <!--<p>You have made changes to the current enquiry. </p>
   <p>This means all current parameters will be replaced with the new ones you have set. </p>-->
   <p>Any added changes will replace the parameters set in the existing enquiry </p>
   
   <a class="nhsuk-button nhsuk-button--ers" href="../csse-manage/csse-edit-file-output">Continue</a>

   <p><a href="../csse-manage/csse-view-enquiry">Exit without saving</a></p>

   
    
  </div>
</div>
{% endblock %}
