{% extends "layout-v2.html" %}

{% block pageScripts %}
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript" src="/js/auto.js"></script>
<script type="text/javascript" src="/js/add-letter-code-list.js"></script>
<!--Add letter code script above-->
<style type="text/css" media="screen">
  .nhsuk-header__navigation-item:nth-child(4) {
    border-bottom: 4px solid #d8dde0;
  }
</style>
{% endblock %}
{% block pageTitle %}
NHS Cervical screening management system
{% endblock %}

{% block header %}
{% include '../../components/header.html' %}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">

    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link nhsuk-u-margin-bottom-4" href="csse-manage-enquiry">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to search results</a>
    </div>
    
    <span class="nhsuk-hint nhsuk-u-margin-bottom-1">Step 11 of 12</span>

    <form action="csse-edit-enquiry" method="post">
      <div class="nhsuk-form-group">

        <!--<fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="review-report">
          <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
            <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-7">
              Review report
            </h1>
          </legend>

          <p class="nhsuk-body">
            You can check the sections you have filled in and make changes
          </p>

          <ul class="nhsuk-list">
            <li><a href="CSSE-create-step1" class="nhsuk-link">Enquiry name</a></li>
            <li><a href="CSSE-create-step2" class="nhsuk-link">Define data type</a></li>
            <li><a href="CSSE-create-step3" class="nhsuk-link">Define test</a></li>
            <li><a href="CSSE-create-step4" class="nhsuk-link">Define test parameters</a></li>
            <li><a href="CSSE-create-step5" class="nhsuk-link">Define sender details</a></li>
            <li><a href="CSSE-create-step6" class="nhsuk-link">Define test result details</a></li>
            <li><a href="CSSE-create-step7" class="nhsuk-link">Define participant and episode status</a></li>
            <li><a href="CSSE-create-step8" class="nhsuk-link">Define location</a></li>
            <li><a href="CSSE-create-step9" class="nhsuk-link">Define patient details</a></li>
            <li><a href="CSSE-create-step10" class="nhsuk-link">Define communication details</a></li>
          </ul>
      

        </fieldset>-->

        <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="review-report">
          <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
            <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-7">
              View enquiry details
            </h1>
          </legend>

          <p class="nhsuk-body nhsuk-u-margin-bottom-7">
            You can check the sections you have filled in and make changes
          </p>


          <dl class="nhsuk-summary-list" id="enquiry-name">

            <h2 class="nhsuk-heading-m">
              Step 1: Enquiry name
            </h2>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Name
              </dt>
              <dd class="nhsuk-summary-list__value">
                {% if data['edit-create-name'] %}{{ data['edit-create-name'] }}{% else %}HPV data report{% endif %}
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="csse-edit-enquiry-name">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>
          
          
          </dl>

          <dl class="nhsuk-summary-list" id="define-data-type">

            <h2 class="nhsuk-heading-m">
              Step 2: Define data type
            </h2>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Include patient data
              </dt>
              <dd class="nhsuk-summary-list__value">
                {% if data['edit-patient-data'] %}{{ data['edit-patient-data'] }}{% else %}Yes, include patient data{% endif %}
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="csse-edit-define-data">
                  Change<span class="nhsuk-u-visually-hidden"> include patient data</span>
                </a>
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Include test data
              </dt>
              <dd class="nhsuk-summary-list__value">
                {% if data['edit-test-data'] %}{{ data['edit-test-data'] }}{% else %}Yes, include test data{% endif %}
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="csse-edit-define-data">
                  Change<span class="nhsuk-u-visually-hidden"> include test data</span>
                </a>
          
              </dd>
          
            </div>
          
          
          </dl>

          <dl class="nhsuk-summary-list" id="define-test">

            <h2 class="nhsuk-heading-m">
              Step 3: Define test
            </h2>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Test criteria
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  {% for item in data['edit-test-criteria'] %}
                <li>{{ item }}</li>
              {% else %}
                <li>Has test: First test only</li>
                <li>Does not have test</li>
              {% endfor %}
                <li>{{ data['edit-test-to-include'] }}</li>
                </ul>
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="csse-edit-define-test">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>

          
          
          </dl>

          <dl class="nhsuk-summary-list" id="define-test-parameters">

            <h2 class="nhsuk-heading-m">
              Step 4: Define test parameters
            </h2>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Result type
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  {% for item in data['result-type'] %}
                    <li>{{ item }}</li>
                  {% else %}
                    <li>Self-sample results</li>
                    <li>Not self-sample results</li>
                  {% endfor %}
                </ul>

              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                HPV primary status
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  {% for item in data['hpv-status'] %}
                    <li>{{ item }}</li>
                  {% else %}
                    <li>HPV primary</li>
                    <li>Not HPV primary</li>
                  {% endfor %}
                </ul>

              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>
          
          
          </dl>

          <dl class="nhsuk-summary-list" id="define-sender-details">

            <h2 class="nhsuk-heading-m">
              Step 5: Define sender details
            </h2>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                National code
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  {% for item in data['national-code-list'] %}
                <li>{{ item }}</li>
              {% else %}
                <li>60234, 61558</li>
              {% endfor %}
                </ul>
                {{ data['national-code-data'] }}
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Source code
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  {% for item in data['source-code-list'] %}
                <li>{{ item }}</li>
              {% else %}
                <li>H, X, N</li>
              {% endfor %}
                </ul>
                {{ data['source-code-data'] }}
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Sender code
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  {% for item in data['sender-code-list'] %}
                <li>{{ item }}</li>
              {% else %}
                <li>A86020, A8640</li>
              {% endfor %}
                </ul>
                {{ data['sender-code-data'] }}
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Source type
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  {% for item in data['source-type-list'] %}
                <li>{{ item }}</li>
              {% else %}
                <li>1, 4, 7</li>
              {% endfor %}
                </ul>
                {{ data['source-type-data'] }}
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>
          
          
          </dl>

          <dl class="nhsuk-summary-list" id="define-test-result-details">

            <h2 class="nhsuk-heading-m">
              Step 6: Define test result details
            </h2>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Date type
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                <li>{{ data['date-type']}}Test taken date</li>
                <li>15{{ data['from-test-taken-date-day'] }}{{ data['from-prev-noti-date-day'] }}{{ data['from-prev-invi-date-day'] }}{{ data['from-test-inp-date-day'] }}-03{{ data['from-test-taken-date-month'] }}{{ data['from-prev-noti-date-month'] }}{{ data['from-prev-invi-date-month'] }}{{ data['from-test-inp-date-month'] }}-2021{{ data['from-test-taken-date-year'] }}{{ data['from-prev-noti-date-year'] }}{{ data['from-prev-invi-date-year'] }}{{ data['from-test-inp-date-year'] }} - 16{{ data['to-test-taken-date-day'] }}{{ data['to-prev-noti-date-day'] }}{{ data['to-prev-invi-date-day'] }}{{ data['to-test-inp-date-day'] }}-09{{ data['to-test-taken-date-month'] }}{{ data['to-prev-noti-date-month'] }}{{ data['to-prev-invi-date-month'] }}{{ data['to-test-inp-date-month'] }}-2021{{ data['to-test-taken-date-year'] }}{{ data['to-prev-noti-date-year'] }}{{ data['to-prev-invi-date-year'] }}{{ data['to-test-inp-date-year'] }}</li>
                <li></li>
                </ul>
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Slide number range
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  <li>18{{ data['slide-num-year'] }} 0100011{{ data['slide-num-num'] }} - 19{{ data['slide-num-year-to'] }} 0100011{{ data['slide-num-num-to'] }}</li>
                  <li></li>
                  </ul>
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Result code
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  {% for item in data['result-code-list'] %}
                <li>{{ item }}</li>
              {% else %}
                <li>X0A, X</li>
              {% endfor %}
                </ul>
                {{ data['result-code-data'] }}
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>
          
          
          </dl>

          <dl class="nhsuk-summary-list" id="define-recall-details">

            <h2 class="nhsuk-heading-m">
              Step 7: Define participant and episode status details
            </h2>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Participant status
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  {% for item in data['current-participant-status'] %}
                    <li>{{ item }}</li>
                  {% else %}
                    <li>Called</li>
                    <li>Routine</li>
                    <li>Suspended</li>
                  {% endfor %}
                </ul>

              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Episode status
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  {% for item in data['current-episode-status'] %}
                    <li>{{ item }}</li>
                  {% else %}
                    <li>Invited</li>
                    <li>Reminded</li>
                    <li>Non responder</li>
                  {% endfor %}
                </ul>

              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>
          
          
          </dl>

          <dl class="nhsuk-summary-list" id="define-location-details">

            <h2 class="nhsuk-heading-m">
              Step 8: Define location details
            </h2>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                GP practice code
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  {% for item in data['gp-practice-code-list'] %}
                <li>{{ item }}</li>
              {% else %}
                <li>A1000000, A110100</li>
              {% endfor %}
                </ul>
                {{ data['gp-code-data'] }}
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Patient post code
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  {% for item in data['post-code-list'] %}
                <li>{{ item }}</li>
              {% else %}
                <li>LS1, LS25</li>
              {% endfor %}
                </ul>
                {{ data['post-code-data'] }}
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>
          
          
          </dl>

          <dl class="nhsuk-summary-list" id="define-patient-details">

            <h2 class="nhsuk-heading-m">
              Step 9: Define patient details
            </h2>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Registration status
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  {% for item in data['patient-reg'] %}
                    <li>{{ item }}</li>
                  {% else %}
                    <li>Active</li>
                    <li>Inactive</li>
                  {% endfor %}
                </ul>
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Cervix status
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  {% for item in data['cervix-status'] %}
                    <li>{{ item }}</li>
                  {% else %}
                    <li>Patient has cervix</li>
                    <li>Patient has no cervix</li>
                  {% endfor %}
                </ul>
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>

            

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Data type
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  <li>Registered date{{ data['patient-date-type'] }}</li>
                  <li>19{{ data['registered-date-from-day'] }}{{ data['deducted-date-from-day'] }}-03{{ data['registered-date-from-month'] }}{{ data['deducted-date-from-month'] }}-2021{{ data['registered-date-from-year'] }}{{ data['deducted-date-from-year'] }} - 10{{ data['registered-date-to-day'] }}{{ data['deducted-date-to-day'] }}-09{{ data['registered-date-to-month'] }}{{ data['deducted-date-to-month'] }}-2021{{ data['registered-date-to-year'] }}{{ data['deducted-date-to-year'] }}</li>
                  </ul>
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Age range
              </dt>
              <dd class="nhsuk-summary-list__value">
                25{{ data['age-from-input'] }} - 57{{ data['age-to-input'] }}
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Date type
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  <li>Next test due date{{ data['recall-date-type'] }}</li>
                  <li>19{{ data['next-test-date-from-day'] }}{{ data['last-noti-date-from-day'] }}{{ data['last-invi-date-from-day'] }}-03{{ data['next-test-date-from-month'] }}{{ data['last-noti-date-from-month'] }}{{ data['last-invi-date-from-month'] }}-2008{{ data['next-test-date-from-year'] }}{{ data['last-noti-date-from-year'] }}{{ data['last-invi-date-from-year'] }} - 10{{ data['next-test-date-to-day'] }}{{ data['last-noti-date-to-day'] }}{{ data['last-invi-date-to-day'] }}-11{{ data['next-test-date-to-month'] }}{{ data['last-noti-date-to-month'] }}{{ data['last-invi-date-to-month'] }}-2021{{ data['next-test-date-to-year'] }}{{ data['last-noti-date-to-year'] }}{{ data['last-invi-date-to-year'] }}</li>
                  </ul>
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>

          
          
          </dl>

          <dl class="nhsuk-summary-list" id="define-communication-details">

            <h2 class="nhsuk-heading-m">
              Step 10: Define communication details
            </h2>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Notification type
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  <li>{{ data['comms-notification-type'] }}</li>
                  {% for item in data['comms-recall-type'] %}
                    <li>{{ item }}</li>
                  {% else %}
                    <li>Prior notifications list:</li>
                    <li>Called</li>
                    <li>Routine</li>
                  {% endfor %}
                </ul>
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="CSSE-create-step10">
                  Change<span class="nhsuk-u-visually-hidden"> notification type</span>
                </a>
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Notification date range
              </dt>
              <dd class="nhsuk-summary-list__value">
                02{{ data['comms-noti-date-from-day'] }}-04{{ data['comms-noti-date-from-month'] }}-2021{{ data['comms-noti-date-from-year'] }} - 10{{ data['comms-noti-date-to-day'] }}-11{{ data['comms-noti-date-to-month'] }}-2021{{ data['comms-noti-date-to-year'] }}
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> notification date range</span>
                </a>
          
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Letter code
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list nhsuk-u-margin-bottom-1">
                  {% for item in data['letter-code-list'] %}
                <li>{{ item }}</li>
              {% else %}
                <li>1QR, 0QS</li>
              {% endfor %}
                </ul>
                {{ data['letter-code-data'] }}
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> letter code</span>
                </a>
          
              </dd>
          
            </div>

          
          
          </dl>

      

        </fieldset>


      </div>

      <span>
        <a class="nhsuk-button  nhsuk-button--secondary nhsuk-button--ers nhsuk-u-margin-right-6" href="csse-duplicate-enquiry">
          Duplicate
        </a>

        <button class="nhsuk-button nhsuk-button--ers" type="submit">
          Save and continue
        </button>
      </span>

    </form>
    
  </div>
</div>
{% endblock %}
