{% extends "layout-v2.html" %}

{% block pageScripts %}
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript" src="/js/auto.js"></script>
<style type="text/css" media="screen">
  .nhsuk-header__navigation-item:nth-child(4) {
    border-bottom: 4px solid #d8dde0;
  }
</style>
{% endblock %}
{% block pageTitle %}
NHS Cervical screening management system
{% endblock %}

{% block header %}
{% include '../../components/header.html' %}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">



   <h2 class="nhsuk-heading-l">Remove enquiry</h2>

   
   <p>{{ data['search-name'] }} has been successfully removed. Please return to <a href="../CSSE-home">System enquiry tool</a>.</p>
 
 

   
    
  </div>
</div>
{% endblock %}
