{% extends "layout-v2.html" %}



{% block pageScripts %}
<style type="text/css" media="screen">
  .nhsuk-header__navigation-item:nth-child(2){
    border-bottom:4px solid #d8dde0;
  }
</style>
{% endblock %}
{% block pageTitle %}
  NHS Cervical screening management system
{% endblock %}

{% block header %}

  {% include '../../components/header.html' %}

{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">

  {% if data['edit-test'] != 'true' %}
    <div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
      <a class="nhsuk-back-link__link" href="../patient-summary-7">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Back to patient summary</a>
    </div>
  {% endif %}

  <div class="nhsuk-card nhsuk-card--feature">
    <div class="nhsuk-card__content nhsuk-card__content--feature">
    {% include '../../components/hpv-patient.html' %}

  <h1 class="nhsuk-heading-l">Check HPV vaccination before deleting</h1>


  <form action="/v12/patient/patient-summary-7?hpvRemoved=True&hpvAdded=" method="post"> <input type="hidden" name="hideDetails" value="true">

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Date given
          </dt>
          <dd class="nhsuk-summary-list__value">
            {% if (data['dateGiven-day']) and (data['dateGiven-month']) and (data['dateGiven-year']) %}
              {{ data['dateGiven-day'] }}-{{ data['dateGiven-month'] }}-{{ data['dateGiven-year'] }}
            {% else %}
              22-Oct-2021
            {% endif %}
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Vaccine name
          </dt>
          <dd class="nhsuk-summary-list__value">
            {% if data['vaccineName'] === 'gardasil'%}
              Gardasil
            {% elif data['vaccineName'] === 'other'%}
              {{ data['other'] }}
            {% else %}
              Cervarix
            {% endif %}
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
          Batch number
          </dt>
          <dd class="nhsuk-summary-list__value">
            {% if data['batchNumber'] %}
              {{ data['batchNumber'] }}
            {% else %}
              HP3PV5895H
            {% endif %}

          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Dose
          </dt>
          <dd class="nhsuk-summary-list__value">
            {% if data['dose'] %}
              {{ data['dose'] }}
            {% else %}
            3
            {% endif %}
          </dd>
        </div>


        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            CRM
          </dt>
          <dd class="nhsuk-summary-list__value">
            {% if data['hpvCrm'] %}
              {{ data['hpvCrm'] }}
            {% else %}
              CAS-12345-ABCDE
            {% endif %}
          </dd>
        </div>


        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Comments
          </dt>
          <dd class="nhsuk-summary-list__value">
            {% if data['hpvComments'] %}
              {{ data['hpvComments'] }}
            {% else %}
              N/A
            {% endif %}
          </dd>
        </div>

      </dl>




      {% include '../../components/comments-timeline-hpv.html' %}

          <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
              <legend class="nhsuk-fieldset__legend--m nhsuk-label__strong">
                <h1 class="nhsuk-fieldset__heading">Are you sure you want to remove this HPV vaccination?</h1>
              </legend>

      <div class="nhsuk-checkboxes">
                  <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="confirmIdentity" name="confirmIdentity" type="checkbox" value="confirmIdentity">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="confirmIdentity">
                    Yes, I want to remove this HPV vaccination
                  </label>
                  <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-2-item-hint">
                   This will remove the HPV vaccination from the patient's HPV vaccination table and archive it
                  </div>
                </div>


                  <div class="nhsuk-form-group">
                    <h1 class="nhsuk-label-wrapper">
                      <label class="nhsuk-fieldset__legend--s nhsuk-label__strong" for="example-heading">
                        Enter CRM case number
                      </label>
                    </h1>
                    <span class="nhsuk-hint" id="example-hint">
                      For example, CAS-12345-ABCDE.
                    </span>
                    <input class="nhsuk-input nhsuk-input--width-10" type="text" name="crm" autocomplete="off" value="{{ data.crm }}">
                  </div>
                  <div class="nhsuk-form-group">

                  <div class="nhsuk-grid-row">
                  <div class="nhsuk-grid-column-three-quarters">
                    <label class="nhsuk-label nhsuk-label__strong" for="example">
                      Comments
                    </label>
                        <span class="nhsuk-hint" id="example-hint"> Add a comment explaining this action taken.</span>

                    <textarea class="nhsuk-textarea" id="example" name="comments" rows="4" aria-describedby="example-hint" autocomplete="off">{{ data.comments }}</textarea>
                  </div>
                </div>
              </div>
          <br>
          <button class="nhsuk-button nhsuk-button--ers" type="submit">Confirm</button>
        </form>


    <p><a href="../patient-summary-7">Exit without saving</a></p>

  </div>

  </div>
</div>
</div>


{% endblock %}

{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container nhsuk-width-container-fluid">
      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
      <p><a href="/v12/reset-patient-data-12">Reset patient data</a></p>
    </div>
  </div>
</footer>
{% endblock %}
