{% extends "layout-v2.html" %}

{% block pageScripts %}
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript" src="/js/auto.js"></script>
<style type="text/css" media="screen">
  .nhsuk-header__navigation-item:nth-child(4) {
    border-bottom: 4px solid #d8dde0;
  }
</style>
{% endblock %}
{% block pageTitle %}
NHS Cervical screening management system
{% endblock %}

{% block header %}
{% include '../components/header.html' %}
{% endblock %}


{% block content %}



    <div class="nhsuk-width-container-fluid">
      <main class="nhsuk-main-wrapper" id="maincontent" role="main">
        <div class="nhsuk-grid-row">
          <h1 class="nhsuk-heading-l">Reports</h1>

          <div class="nhsuk-grid-column-one-half" style="padding-left: 0;">
            <ul class="panel-link">


              <li class="panel-link__item">
                <a class="panel-link__link" href="/v12/reports-gp/history-batch">
                  <h2 class="panel-link__heading nhsuk-heading-s">History batch download report</h2>
                </a>
              </li>
                <li class="panel-link__item">
                  <a class="panel-link__link" href="/v12/reports-gp/cancer-audit">
                    <h2 class="panel-link__heading nhsuk-heading-s">Cancer audit report</h2>
                  </a>
                </li>
              </ul>
                        </div>

        </div>
      </main>
    </div>




{% endblock %}
