


  <h3 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-heading-m">{{ data.patientSummary.first_name | capitalize or 'Brenda' }} {{ data.patientSummary.last_name | capitalize or 'Brazier' }}
  <span style= color:white; class="nhsuk-table__cell--hint">NHS No: {{ data.patientSummary.nhs_number | formatNHSNumber or '910 000 1929' }}</span></h3>


<!--
  <tr id="detailsRow4" class="detailsRow">
           <td colspan="3">-->
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-full">




              </div>
            </div>
          </td>
        </tr>
