


{% if data.patientSummary.nhs_number == '9991023867' %}

<nav style="border-bottom:4px solid #425563" class="nhsuk-breadcrumb patient-info" aria-label="PatientBanner">
  <div class="nhsuk-width-container patient-info-container">
    <ul role="navigation">
      <li class="patient-dropdown no-print"><a style="color:white" href="#">Depetris, Ella (Miss)</a>
        <svg style="width:16px;height:16px;" class="nhsuk-icon__arrow-down" viewBox="0 0 150 150" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" wiid="C235">

                  <g id="Arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" wiid="C236">
                      <polygon id="Rectangle" fill="#ffffff" fill-rule="nonzero" transform="translate(75.000000, 75.000000) rotate(45.000000) translate(-75.000000, -75.000000) " points="75 75 97 53 97 97 53 97" wiid="C237"></polygon>
                  </g>
              </svg>
      <div id="patient-dropdown-container">
        <p class="nhsuk-body-s"><strong>Address: </strong> 52 HOLLY MEWS TOWNSVILLE LS20 8QF</p>
      </div></li>

      <li class="only-print"><span><strong>Name: </strong> Depetris, Ella Miss</span></li>

      <li><strong>DOB: </strong> 63 years (28 October 1958)</li>

      <li><span><strong>NHS No: </strong> 999 102 3867</span></li>

      <li class="only-print"><span><strong>Address: </strong> 52 HOLLY MEWS TOWNSVILLE LS20 8QF</span></li>
    </ul>
  </div>

</nav>
{% elif data.patientSummary.nhs_number == '9100002801' %}
<nav style="border-bottom:4px solid #425563" class="nhsuk-breadcrumb patient-info" aria-label="PatientBanner">
  <div class="nhsuk-width-container patient-info-container">
    <ul role="navigation">
      <li class="patient-dropdown no-print"><a style="color:white" href="#"> Hitchings, Veronica (Mrs)</a>
        <svg style="width:16px;height:16px;" class="nhsuk-icon__arrow-down" viewBox="0 0 150 150" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" wiid="C235">

                  <g id="Arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" wiid="C236">
                      <polygon id="Rectangle" fill="#ffffff" fill-rule="nonzero" transform="translate(75.000000, 75.000000) rotate(45.000000) translate(-75.000000, -75.000000) " points="75 75 97 53 97 97 53 97" wiid="C237"></polygon>
                  </g>
              </svg>
      <div id="patient-dropdown-container">
        <p class="nhsuk-body-s"><strong>Address: </strong> 47 Ashburnham Road, Livermead, EXETER, Devon, EX2 5SE</p>
      </div></li>

      <li class="only-print"><span><strong>Name: </strong> Hitchings, Veronica Mrs</span></li>

      <li><strong>DOB: </strong> 53 years (25 June 1968)</li>

      <li><span><strong>NHS No: </strong> 910 000 2801</span></li>

      <li class="only-print"><span><strong>Address: </strong> 47 Ashburnham Road, Livermead, EXETER, Devon, EX2 5SE</span></li>
    </ul>
  </div>

</nav>
{% else %}
<nav style="border-bottom:4px solid #425563" class="nhsuk-breadcrumb patient-info" aria-label="PatientBanner">
  <div class="nhsuk-width-container patient-info-container">
    <ul role="navigation">
      <li class="patient-dropdown no-print"><a style="color:white" href="#">{{ data.patientSummary.last_name or 'Smith' }}, {{ data.patientSummary.first_name or 'Jane' }} ({{  data.patientSummary.title | capitalize or 'Mrs'}})</a>
        <svg style="width:16px;height:16px;" class="nhsuk-icon__arrow-down" viewBox="0 0 150 150" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" wiid="C235">

                  <g id="Arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" wiid="C236">
                      <polygon id="Rectangle" fill="#ffffff" fill-rule="nonzero" transform="translate(75.000000, 75.000000) rotate(45.000000) translate(-75.000000, -75.000000) " points="75 75 97 53 97 97 53 97" wiid="C237"></polygon>
                  </g>
              </svg>
      <div id="patient-dropdown-container">
        {% if data.patientSummary.nhs_number == '9100002798' %}
        <p class="nhsuk-body-s"><strong>Address: </strong> 20 Knight Street, Queens, Stockton, Wakefield, WA9T 6TY</p>
        {% else %}
        <p class="nhsuk-body-s"><strong>Address: </strong> {{ data['address'] or '20 Thornhill Street, Pudsey, LS15 6FD' }}</p>
        {% endif %}
      </div></li>

      <li class="only-print"><span><strong>Name: </strong> {{ data.patientSummary.last_name or 'Smith' }}, {{ data.patientSummary.first_name or 'Jane' }} {{  data.patientSummary.title | capitalize or 'Mrs'}}</span></li>

      <li><strong>DOB: </strong> {{ data.patientSummary.date_of_birth | returnAge or '30' }} years ({{ data.patientSummary.date_of_birth  | returnDateFormat or '4 June 1988' }})</li>

      <li><span><strong>NHS No: </strong> {{ data.patientSummary.nhs_number | formatNHSNumber or '123 456 7890' }}</span></li>

      <li class="only-print"><span><strong>Address: </strong> {{ data['address'] or '20 Thornhill Street, Pudsey, LS15 6FD' }}</span></li>
    </ul>
  </div>
</nav>


{% endif %}
